
<meta charset="utf-8">
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="./../style.css" />
    <title>thymeleaf) th:errorclass</title>
</head>
<body id="tt-body-page" class="">
<div id="wrap" class="wrap-right">
    <div id="container">
        <main class="main ">
            <div class="area-main">
                <div class="area-view">
                    <div class="article-header">
                        <div class="inner-article-header">
                            <div class="box-meta">
                                <h2 class="title-article">thymeleaf) th:errorclass</h2>
                                <div class="box-info">
                                    <p class="category">Web</p>
                                    <p class="date">2023-02-17 16:57:22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="article-view">
                        <div class="contents_style">
                            <pre class="dust"><code>&lt;div&gt;
    &lt;label for="itemName" th:text="#{label.item.itemName}"&gt;상품명&lt;/label&gt;
    &lt;input type="text" id="itemName" th:field="*{itemName}"
           th:errorclass="field-error" class="form-control" placeholder="이름을 입력하세요"&gt;
    &lt;div class="field-error" th:errors="*{itemName}"&gt;
        상품명 오류
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
<p data-ke-size="size16">th:field 에 에러가 발생하면 th:errorclass 값이 class 에 추가된다.</p>
<p data-ke-size="size16">위의 예에서는 th:field="*{itemName}" 에 에러가 존재한다면, th:errorclass의 "field-error" 가 class에 추가되서</p>
<p data-ke-size="size16">class="form-control field-error" 가 된다.&nbsp;</p>
<p><figure class="imageblock alignCenter" width="428" height="355" >
    <span data-lightbox="lightbox">
        <img src="./img/img.png" width="428" height="355"  />
    </span>
    <figcaption></figcaption>
</figure></p>
                        </div>
                        <br/>
                        <div class="tags">
                            #Spring 
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
