<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Algorithm</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/blogPortal.css" th:href="@{/css/blogPortal.css}" />



    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>      
        <div class="algorithmBlock">
            <a class="algoBlockAnchor" href="/templates/blog/graph.html" th:href="@{/blogPortal/graph}"><div id="graphBlock" class="squareBlock">그래프</div></a>            
            <a class="algoBlockAnchor" href=""><div id="treeBlock" class="squareBlock">트리</div></a>
            <a class="algoBlockAnchor" href=""><div id="shortestPathAlgoBlock" class="squareBlock">최단 거리 알고리즘</div></a>
            <a class="algoBlockAnchor" href=""><div id="MSTBlock" class="squareBlock">MST</div></a>
            <a class="algoBlockAnchor" href=""><div id="dpBlock" class="squareBlock">DP</div></a>
            <a class="algoBlockAnchor" href=""><div id="backtrackingBlock" class="squareBlock">백트래킹</div></a>
            <a class="algoBlockAnchor" href=""><div id="implementationBlock" class="squareBlock">구현</div></a>
            <a class="algoBlockAnchor" href=""><div id="bruteforceBlock" class="squareBlock">브루트포스</div></a>

    
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>

    <!-- gist style -->
    <link rel="stylesheet" href="https://github.githubassets.com/assets/gist-embed-dc3feb7a9d65.css">
    <!--  -->
    <!-- <script async type="text/javascript" src="/static/js/fetchTistory.js" th:src="@{/js/fetchTistory.js}"></script> -->

</body>

</html>