<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Algorithm</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/blogPortal.css" th:href="@{/css/blogPortal.css}" />



    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <div  id="acBlock">
            <img src="/static/images/baekjoon.png" th:src="@{/images/baekjoon.png}"> 
            <p><a target="_blank" href="https://www.acmicpc.net/user/chadol51">https://www.acmicpc.net/user/chadol51</a></p>
        </div>
        <div class="contentBlock">            
            <p>저는 본격적인 프로그래밍 공부를 알고리즘 문제를 풀면서 시작했습니다.</p>
            <p>알고리즘 문제를 풀면 자연스럽게 <b>언어</b>에 대한 이해를 기를수있고,</p>
            <p>문제를 풀려면 <b>알고리즘</b>을 공부해야 하며, 알고리즘을 이해하기 위해서는 <b>자료구조</b>를 모를수 없습니다.</p>
            <p>이후 다른 개발할 일이 있어도 항상 일주일에 몇 문제는 꾸준히 풀려고 노력을 이어왔고 현재는 <b>1000 문제</b> 이상을 풀었습니다.</p>
            <p>실제로 <a target="_blank" href="https://tose33.tistory.com/848">베지어 곡선</a>을 재귀, dfs 방식으로 구현했을때 꾸준한 알고리즘 공부에
                대한 보람을 느꼈습니다.</p>
        </div>
        <div class="contentBlock">
            <div id="readmoreBtn"><a target="_blank" href="https://tose33.tistory.com/category/PS">Blog/PS</a>
            </div>
        </div>
        <div class="algorithmBlock">
            <a class="algoBlockAnchor" href="/templates/blog/multiLang.html" th:href="@{/blogPortal/multiLang}">
                <div id="multiLangBlock" class="squareBlock">Multi Language</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/graph.html" th:href="@{/blogPortal/graph}">
                <div id="graphBlock" class="squareBlock">그래프</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/tree.html" th:href="@{/blogPortal/tree}">
                <div id="treeBlock" class="squareBlock">트리</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/shortestPath.html" th:href="@{/blogPortal/shortestPath}">
                <div id="shortestPathAlgoBlock" class="squareBlock">최단 거리 알고리즘</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/dp.html" th:href="@{/blogPortal/dp}">
                <div id="dpBlock" class="squareBlock">DP</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/backtracking.html" th:href="@{/blogPortal/backtracking}">
                <div id="backtrackingBlock" class="squareBlock">백트래킹</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/implementation.html"
                th:href="@{/blogPortal/implementation}">
                <div id="implementationBlock" class="squareBlock">구현</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/bruteforce.html" th:href="@{/blogPortal/bruteforce}">
                <div id="bruteforceBlock" class="squareBlock">브루트포스</div>
            </a>

            <a class="algoBlockAnchor" href="/templates/blog/binarysearch.html" th:href="@{/blogPortal/binarysearch}">
                <div id="binarySearchBlock" class="squareBlock">이분탐색</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/datastructure.html" th:href="@{/blogPortal/datastructure}">
                <div id="dataStructureBlock" class="squareBlock">자료구조</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/recursion.html" th:href="@{/blogPortal/recursion}">
                <div id="recursionBlock" class="squareBlock">재귀&분할정복</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/bitmask.html" th:href="@{/blogPortal/bitmask}">
                <div id="bitmaskBlock" class="squareBlock">비트마스킹</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/greedy.html" th:href="@{/blogPortal/greedy}">
                <div id="greedyBlock" class="squareBlock">그리디 알고리즘</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/prefixSum.html" th:href="@{/blogPortal/prefixSum}">
                <div id="prefixSumBlock" class="squareBlock">누적합&<br>슬라이딩 윈도우</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/twopointer.html" th:href="@{/blogPortal/twopointer}">
                <div id="twoPointerBlock" class="squareBlock">투포인터</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/string.html" th:href="@{/blogPortal/string}">
                <div id="stringBlock" class="squareBlock">문자열</div>
            </a>
            <a class="algoBlockAnchor" href="/templates/blog/disjointset.html" th:href="@{/blogPortal/disjointset}">
                <div id="disjointSetBlock" class="squareBlock">분리집합</div>
            </a>

        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>

    <!-- gist style -->
    <link rel="stylesheet" href="https://github.githubassets.com/assets/gist-embed-dc3feb7a9d65.css">
    <!--  -->
    <!-- <script async type="text/javascript" src="/static/js/fetchTistory.js" th:src="@{/js/fetchTistory.js}"></script> -->

</body>

</html>