<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>브루트포스</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm.css" th:href="@{/css/algorithm.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm/bruteforce.css"
        th:href="@{/css/algorithm/bruteforce.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <!-- SIDE TAB -->
        <div th:replace="fragment/algorithm-sidetab">
        </div>
        <div class="content">
            <div class="postList">
                <a href="#" th:href="@{/blog/880-백준-2450.-모양-정돈.html}">백준-2450.-모양-정돈</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/1040-백준-4991.-로봇-청소기.html}">백준-4991.-로봇-청소기</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/711-백준-16985.-Maaaaaaaaaze.html}">백준-16985.-Maaaaaaaaaze</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/1002-백준-17136.-색종이-붙이기.html}">백준-17136.-색종이-붙이기</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/683-백준-17472.-다리-만들기-2.html}">백준-17472.-다리-만들기-2</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/704-백준-17825.-주사위-윷놀이.html}">백준-17825.-주사위-윷놀이</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/825-백준-1111.-IQ-Test.html}">백준-1111.-IQ-Test</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/1063-백준-14391.-종이-조각.html}">백준-14391.-종이-조각</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/666-백준-15684.-사다리-조작.html}">백준-15684.-사다리-조작</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/881-백준-15997.-승부-예측.html}">백준-15997.-승부-예측</a>
            </div>

        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>


</body>

</html>