<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>분리집합</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm.css" th:href="@{/css/algorithm.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm/disjointset.css"
        th:href="@{/css/algorithm/disjointset.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <!-- SIDE TAB -->
        <div th:replace="fragment/algorithm-sidetab">
        </div>
        <div class="content">
            <div class="postList">
                <a href="#" th:href="@{/blog/966-백준-4195.-친구-네트워크.html}">백준-4195.-친구-네트워크</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1006-백준-10775.-공항.html}">백준-10775.-공항</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/566-백준-1939.-중량제한.html}">백준-1939.-중량제한</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1080-백준-16724.-피리-부는-사나이.html}">백준-16724.-피리-부는-사나이</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/771-백준-1976.-여행-가자.html}">백준-1976.-여행-가자</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/812-백준-1043.-거짓말.html}">백준-1043.-거짓말</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/998-백준-20040.-사이클-게임.html}">백준-20040.-사이클-게임</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/926-백준-4803.-트리.html}">백준-4803.-트리</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/923-백준-16562.-친구비.html}">백준-16562.-친구비</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1022-백준-10216.-Count-Circle-Groups.html}">백준-10216.-Count-Circle-Groups</a>
            </div>    
            
            
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>


</body>

</html>