<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>그래프</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm.css" th:href="@{/css/algorithm.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm/graph.css"
        th:href="@{/css/algorithm/graph.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <!-- SIDE TAB -->
        <div th:replace="fragment/algorithm-sidetab">
        </div>
        <div class="content">
            <div class="postList">
                <a href="#" th:href="@{/blog/844-백준-2933.-미네랄.html}">백준-2933.-미네랄</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/878-백준-16137.-견우와-직녀.html}">백준-16137.-견우와-직녀</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/945-백준-26009.-험난한-등굣길.html}">백준-26009.-험난한-등굣길</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/1040-백준-4991.-로봇-청소기.html}">백준-4991.-로봇-청소기</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/837-백준-13459.-구슬-탈출.html}">백준-13459.-구슬-탈출</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/705-백준-21609.-상어-중학교.html}">백준-21609.-상어-중학교</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/890-백준-9370.-미확인-도착지.html}">백준-9370.-미확인-도착지</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/906-백준-1103.-게임.html}">백준-1103.-게임</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/1020-백준-2211.-네트워크-복구.html}">백준-2211.-네트워크-복구</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/846-백준-9328.-열쇠.html}">백준-9328.-열쇠</a>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>


</body>

</html>