<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>그리디 알고리즘</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm.css" th:href="@{/css/algorithm.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm/greedy.css"
        th:href="@{/css/algorithm/greedy.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <!-- SIDE TAB -->
        <div th:replace="fragment/algorithm-sidetab">
        </div>
        <div class="content">
            <div class="postList">
                <a href="#" th:href="@{/blog/1055-백준-8980.-택배.html}">백준-8980.-택배</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1030-백준-1202.-보석-도둑.html}">백준-1202.-보석-도둑</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/994-백준-2437.-저울.html}">백준-2437.-저울</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/871-백준-3109.-빵집.html}">백준-3109.-빵집</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1006-백준-10775.-공항.html}">백준-10775.-공항</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/973-백준-1781.-컵라면.html}">백준-1781.-컵라면</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1046-백준-9576.-책-나눠주기.html}">백준-9576.-책-나눠주기</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/880-백준-2450.-모양-정돈.html}">백준-2450.-모양-정돈</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1223-백준-1082.-방-번호.html}">백준-1082.-방-번호</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1010-백준-2457.-공주님의-정원.html}">백준-2457.-공주님의-정원</a>
            </div>    
            

        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>


</body>

</html>