<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi Language</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm.css" th:href="@{/css/algorithm.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm/multiLang.css"
        th:href="@{/css/algorithm/multiLang.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
  
</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <!-- SIDE TAB -->
        <div th:replace="fragment/algorithm-sidetab">
        </div>
        <div class="content">
            <div class="explainBlock">
                <p>글들은 제 티스토리 블로그에서 가져왔습니다.</p>
                <p><a target="_blank" href="https://lsh-instaweb.herokuapp.com/9/pages/352">> 티스토리 글들 가져온 방법</a></p>
            </div>
            <div>
                <ul>
                    <li>여러가지 언어로 풀어본 문제들중 일부입니다.</li>
                </ul>
            </div>
            <div class="postList">
                <a href="#"
                    th:href="@{/blog/536-백준-1011.-Fly-me-to-the-Alpha-Centauri.html}">백준-1011.-Fly-me-to-the-Alpha-Centauri</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/664-백준-1780.-종이의-개수.html}">백준-1780.-종이의-개수</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/225-백준-16945.-매직-스퀘어로-변경하기.html}">백준-16945.-매직-스퀘어로-변경하기</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/493-백준-2251.-물통.html}">백준-2251.-물통</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/129-백준-7576.-토마토.html}">백준-7576.-토마토</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/476-백준-1309.-동물원.html}">백준-1309.-동물원</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/540-백준-2166.-다각형의-면적.html}">백준-2166.-다각형의-면적</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/524-백준-1790.-수-이어쓰기2.html}">백준-1790.-수-이어쓰기2</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/436-백준-1389.-케빈-베이컨의-6단계-법칙.html}">백준-1389.-케빈-베이컨의-6단계-법칙</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/106-백준-1149.-RGB거리.html}">백준-1149.-RGB거리</a>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>


</body>

</html>