<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>누적합&슬라이딩 윈도우</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm.css" th:href="@{/css/algorithm.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm/prefixSum.css"
        th:href="@{/css/algorithm/prefixSum.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <!-- SIDE TAB -->
        <div th:replace="fragment/algorithm-sidetab">
        </div>
        <div class="content">
            <div class="explainBlock">
                <p>글들은 제 티스토리 블로그에서 가져왔습니다.</p>
                <p><a target="_blank" href="https://lsh-instaweb.herokuapp.com/9/pages/352">> 티스토리 글들 가져온 방법</a></p>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/990-백준-2143.-두-배열의-합.html}">백준-2143.-두-배열의-합</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1224-백준-2616.-소형기관차.html}">백준-2616.-소형기관차</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/983-백준-2571.-색종이---3.html}">백준-2571.-색종이---3</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/553-백준-1806.-부분합.html}">백준-1806.-부분합</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/561-백준-15961,-2531.-회전-초밥.html}">백준-15961,-2531.-회전-초밥</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1057-백준-3078.-좋은-친구.html}">백준-3078.-좋은-친구</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1185-백준-2015.-수들의-합-4.html}">백준-2015.-수들의-합-4</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/581-백준-2096.-내려가기.html}">백준-2096.-내려가기</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/984-백준-3020.-개똥벌레.html}">백준-3020.-개똥벌레</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1089-백준-21758.-꿀-따기.html}">백준-21758.-꿀-따기</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1011-백준-16139.-인간-컴퓨터-상호작용.html}">백준-16139.-인간-컴퓨터-상호작용</a>
            </div>    
             

        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>


</body>

</html>