<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문자열</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm.css" th:href="@{/css/algorithm.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm/string.css"
        th:href="@{/css/algorithm/string.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <!-- SIDE TAB -->
        <div th:replace="fragment/algorithm-sidetab">
        </div>
        <div class="content">
            <div class="postList">
                <a href="#" th:href="@{/blog/1061-백준-14725.-개미굴.html}">백준-14725.-개미굴</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1049-백준-1701.-Cubeditor.html}">백준-1701.-Cubeditor</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1210-백준-1414.-불우이웃돕기.html}">백준-1414.-불우이웃돕기</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/915-백준-9935.-문자열-폭발.html}">백준-9935.-문자열-폭발</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/960-백준-5052.-전화번호-목록.html}">백준-5052.-전화번호-목록</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1085-백준-16120.-PPAP.html}">백준-16120.-PPAP</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1161-백준-9252.-LCS-2.html}">백준-9252.-LCS-2</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/572-백준-5430.-AC.html}">백준-5430.-AC</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/311-백준-12904.-A와-B.html}">백준-12904.-A와-B</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/829-백준-5582.-공통-부분-문자열.html}">백준-5582.-공통-부분-문자열</a>
            </div>    
            
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>


</body>

</html>