<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tree</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm.css" th:href="@{/css/algorithm.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm/tree.css"
        th:href="@{/css/algorithm/tree.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <!-- SIDE TAB -->
        <div th:replace="fragment/algorithm-sidetab">
        </div>
        <div class="content">
            <div class="postList">
                <a href="#" th:href="@{/blog/855-백준-1167.-트리의-지름.html}">백준-1167.-트리의-지름</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/1031-백준-2042.-구간-합-구하기.html}">백준-2042.-구간-합-구하기</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/901-백준-2250.-트리의-높이와-너비.html}">백준-2250.-트리의-높이와-너비</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/950-백준-2263.-트리의-순회.html}">백준-2263.-트리의-순회</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/938-백준-2533.-사회망-서비스(SNS).html}">백준-2533.-사회망-서비스(SNS)</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/1081-백준-4256.-트리.html}">백준-4256.-트리</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/1000-백준-11437.-LCA.html}">백준-11437.-LCA</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/1061-백준-14725.-개미굴.html}">백준-14725.-개미굴</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/1020-백준-2211.-네트워크-복구.html}">백준-2211.-네트워크-복구</a>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/1025-백준-16437.-양-구출-작전.html}">백준-16437.-양-구출-작전</a>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>


</body>

</html>