<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>투포인터</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm.css" th:href="@{/css/algorithm.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/algorithm/twopointer.css"
        th:href="@{/css/algorithm/twopointer.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <!-- SIDE TAB -->
        <div th:replace="fragment/algorithm-sidetab">
        </div>
        <div class="content">
            <div class="explainBlock">
                <p>글들은 제 티스토리 블로그에서 가져왔습니다.</p>
                <p><a target="_blank" href="https://lsh-instaweb.herokuapp.com/9/pages/352">> 티스토리 글들 가져온 방법</a></p>
            </div>
            <div class="postList">
                <a href="#" th:href="@{/blog/805-백준-2461.-대표-선수.html}">백준-2461.-대표-선수</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1035-백준-7453.-합이-0인-네-정수.html}">백준-7453.-합이-0인-네-정수</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/555-1644.-소수의-연속합.html}">-소수의-연속합</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/563-백준-2473.-세-용액.html}">백준-2473.-세-용액</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/553-백준-1806.-부분합.html}">백준-1806.-부분합</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1044-백준-1253.-좋다.html}">백준-1253.-좋다</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/561-백준-15961,-2531.-회전-초밥.html}">백준-15961,-2531.-회전-초밥</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/1220-백준-13144.-List-of-Unique-Numbers.html}">백준-13144.-List-of-Unique-Numbers</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/560-백준-2470.-두-용액.html}">백준-2470.-두-용액</a>
            </div>    
            <div class="postList">
                <a href="#" th:href="@{/blog/296-백준-17609.-회문.html}">백준-17609.-회문</a>
            </div>    
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>


</body>

</html>