<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- side tab fragment -->
<div th:fragment="algorithm-sidetab">    
    <div class="side-menu">
        <ul>
            <li><a href="">그래프</a></li>
            <li><a href="">트리</a></li>
            <li><a href="">최단 거리 알고리즘</a></li>
            <li><a href="">MST</a></li>
            <li><a href="">DP</a></li>
            <li><a href="">백트래킹</a></li>
            <li><a href="">구현</a></li>
            <li><a href="">브루트포스</a></li>
        </ul>
    </div>
</div>


</html>