<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- side tab fragment -->
<div th:fragment="algorithm-sidetab">    
    <div class="side-menu">
        <ul>
            <li id="backToAlgo"><a href="/templates/blog/blogPortal.html" th:href="@{/blogPortal}">../알고리즘</a></li>
            <li><a href="/templates/blog/multiLang.html" th:href="@{/blogPortal/multiLang}">Multi Language</a></li>
            <li><a href="/templates/blog/graph.html" th:href="@{/blogPortal/graph}">그래프</a></li>
            <li><a href="/templates/blog/tree.html" th:href="@{/blogPortal/tree}">트리</a></li>
            <li><a href="/templates/blog/shortestPath.html" th:href="@{/blogPortal/shortestPath}">최단 거리 알고리즘</a></li>     
            <li><a href="/templates/blog/dp.html" th:href="@{/blogPortal/dp}">DP</a></li>
            <li><a href="/templates/blog/backtracking.html" th:href="@{/blogPortal/backtracking}">백트래킹</a></li>
            <li><a href="/templates/blog/implementation.html" th:href="@{/blogPortal/implementation}">구현</a></li>
            <li><a href="/templates/blog/bruteforce.html" th:href="@{/blogPortal/bruteforce}">브루트포스</a></li>

            <li><a href="/templates/blog/binarySearch.html" th:href="@{/blogPortal/binarysearch}">이분탐색</a></li>
            <li><a href="/templates/blog/dataStructure.html" th:href="@{/blogPortal/datastructure}">자료구조</a></li>
            <li><a href="/templates/blog/recursion.html" th:href="@{/blogPortal/recursion}">재귀&분할정복</a></li>
            <li><a href="/templates/blog/bitmask.html" th:href="@{/blogPortal/bitmask}">비트마스킹</a></li>
            <li><a href="/templates/blog/greedy.html" th:href="@{/blogPortal/greedy}">그리디 알고리즘</a></li>
            <li><a href="/templates/blog/prefixSum.html" th:href="@{/blogPortal/prefixSum}">누적합</a></li>
            <li><a href="/templates/blog/twopointer.html" th:href="@{/blogPortal/twopointer}">투포인터</a></li>
            <li><a href="/templates/blog/string.html" th:href="@{/blogPortal/string}">문자열</a></li>
            <li><a href="/templates/blog/disjointset.html" th:href="@{/blogPortal/disjointset}">분리집합</a></li>



        </ul>
    </div>
</div>


</html>