* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Noto Sans KR', sans-serif;
}

/* HEADER */
header {
    min-height: 50vh;
    width: 100%;
}
#headerBackground {
    height: 40vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/interface-3614766_1280.png);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}



/* MAIN */
main {
    /* background-color: gray; */
    width: 80%;
    margin: auto;
    /* text-align: center; */    
    line-height: 2;
}

/* mainBlock1 */
#mainBlock1 {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    padding: 2% 6%;
    margin: 1% 0;
}

#mainBlock1 .imgBlock {
    max-width: 40%;
}

#mainBlock1 .imgBlock img {
    max-width: 100%;
}

#mainBlock1Content {
    /* background-color: aliceblue; */
}

#mainBlock1Content #title {
    font-size: 30px;
    /* margin-bottom: 1%; */
    color: #3db39e;
}

#mainBlock1Content a {
    color: black;
    text-decoration: underline;
}

.block1 {
    margin: 3% 0;
}
.block1 li {
    margin: 1% 0;
}