/* HEADER */
header {
    min-height: 50vh;
    width: 100%;
}

main {
    display: flex;
}

/* SIDE MENU */
.side-menu {
    background-color: #f0f0f0;
    padding: 10px;
    min-width: 200px; 
    min-height: 100vh;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu li {
    margin: 10px 0;
    border-bottom: 2px solid gray;
}

.side-menu li a {
    text-decoration: none;
    color: black;
}

#backToAlgo {
    margin: 10px 0 20px 0;
}

/* CONTENT */
.content {
    flex-grow: 1;
    padding: 3% 10%;
}

.postList {
    /* background-color: gray; */
    /* border-bottom: 2px solid gray; */
    padding: 1% 0;
}

.postList a {
    text-decoration: none;
    color: black;
}


.explainBlock {
    display: inline-block;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid gray;
}

.explainBlock a {
    color: black;    
}