
/* HEADER */
header {
    position: relative;    
    min-height: 50vh;
    width: 100%;

}
#headerBackground {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/unity.svg);
}


