/* HEADER */
header {
    min-height: 50vh;
    width: 100%;
    /* linear-gradient: 이미지에 명암을 줌 (default는 to bottom) */
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/interface-3614766_1280.png);
    /* background-color: black; */
    background-position: center;
    background-size: cover;
    position: relative;
}

.algoBlockAnchor {
    text-decoration: none;
}

.algorithmBlock {
    /* background-color: rgb(239, 239, 245); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
    padding: 2% 16%;
    margin: 5% 0;
    line-height: 2;
}

.squareBlock {
    border-radius: 25px;
    border: 2px solid gray;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: 10px; 
    color:white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;

    transition: transform 0.2s, box-shadow 0.2s;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    background-size:100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.squareBlock:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}




#graphBlock {
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/graph.png);
}
#treeBlock {
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/tree.png);
}
#shortestPathAlgoBlock {
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/graph.png);
}
#MSTBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/graph.png);
}
#dpBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/graph.png);
}
#backtrackingBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/graph.png);
}
#implementationBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/graph.png);
}
#bruteforceBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/graph.png);
}