/* HEADER */
header {
    min-height: 50vh;
    width: 100%;
}
#headerBackground {    
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/algorithm.png);    
}

.algoBlockAnchor {
    text-decoration: none;
}

.contentBlock {
    /* background-color: gray; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 3% 16% 0 16%;
    line-height: 2;
}
.contentBlock a {
    text-decoration: underline;
    color: black;
}
/* Read more Btn */
#readmoreBtn {
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#readmoreBtn:hover {
    cursor: pointer;
    background-color: #3db39e;
}

#readmoreBtn a {
    text-decoration: none;
    color: white;
}



.algorithmBlock {
    /* background-color: rgb(239, 239, 245); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
    padding: 2% 16%;
    margin: 0 0 5% 0;
    line-height: 2;
}

.squareBlock {
    border-radius: 25px;
    border: 2px solid gray;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: 10px; 
    color:white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;

    transition: transform 0.2s, box-shadow 0.2s;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    background-size:100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.squareBlock:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}




#graphBlock {
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/graph.png);
}
#treeBlock {
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/tree.png);
}
#shortestPathAlgoBlock {
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/shortestpath.png);
}
#dpBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/dp.png);
}
#backtrackingBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/backtracking.png);
}
#implementationBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/implementation.png);
}
#bruteforceBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/bruteforce.png);
}

#binarySearchBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/binarysearch.png);
}
#dataStructureBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/datastructure.png);
}
#recursionBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/recursion.png);
}
#bitmaskBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/bitmask.png);
}
#greedyBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/greedy.png);
}
#prefixSumBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/prefixSum.png);
}
#twoPointerBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/twoPointer.png);
}
#stringBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/string.png);
}
#disjointSetBlock{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/disjointSet.png);
}