* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */

    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Noto Sans KR', sans-serif;
}

/* HEADER */
header {
    min-height: 50vh;
    width: 100%;
}
#headerBackground {
    height: 40vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/galaga_player2.png);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* MAIN */
main {
    /* background-color: gray; */
    width: 100%;
    margin: auto;
    /* text-align: center; */
    /* padding-top: 100px; */

}

/* mainBlock1 */
#mainBlock1 {
    /* background-color: rgb(239, 239, 245); */
    display: flex;
    justify-content: space-around;
    padding: 6% 6%;
    min-height: 45vh;
    position: relative;

    display: flex;
    align-items: center;
}

#mainBlock1 .imgBlock {
    max-width: 60%;
}

#mainBlock1 .imgBlock img {
    max-width: 70%;
}

#mainBlock1 #mainBlock1Content {
    max-width: 30%;
}

#mainBlock1 #mainBlock1Content a {
    font-size: 18px;
    font-style: italic;
    text-decoration-line: underline;
    color: black;
}

#mainBlock1 #mainBlock1Content .techStack {
    margin-top: 20%;
}

