* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */

    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    min-height: 50vh;
}

#headerBackground {
    /* background-color: rgba(4, 9, 30, 0.7); */
    /* height: 90vh; */
}




/* MAIN */
main {
    /* background-color: gray; */
    /* width: 80%; */
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

.imgBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* mainBlock1 */
#mainBlock1 {
    /* background-color: blue; */
    padding: 5% 20%;
    position: relative;
    height: 40vh;
    /* height: 100%; */
}

#mainBlock1Content {
    /* background-color: red; */
    position: absolute;
    right: 0%;
    opacity: 0;
    transition: right 1s ease, opacity 1s ease;
}

#mainBlock1Content.slide-right {
    right: 15%;
    opacity: 1;
}

#mainBlock1Content p {
    font-size: 40px;
    margin: 5% 0;
    color: #3db39e;
}

#imgBlock1 {
    /* background-color: #3db39e; */
    max-width: 40%;
    position: absolute;
    left: 0%;
    opacity: 0;
    transition: left 1s ease, opacity 1s ease;
}

#imgBlock1.slide-left {
    left: 15%;
    opacity: 1;
}

#mainBlock1 #imgBlock1 img {
    max-width: 50%;
}


/* instaweb-block */
#instaweb-block {
    justify-content: space-around;
    padding: 6% 6%;
    min-height: 45vh;

    display: flex;
    /* align-items: center; */
}

#instaweb-block .imgBlock {
    max-width: 70%;
    /* border: 1px solid gray; */
}

#instaweb-block .imgBlock img {
    max-width: 100%;
}

#instaweb-block #instaweb-block-Content {
    max-width: 30%;
}

#instaweb-block a {
    font-size: 18px;
    font-style: italic;
    text-decoration-line: underline;
    color: black;
}

#instaweb-block h2 {
    font-size: 40px;
    margin: 5% 0;
    color: #3db39e;
}

#instaweb-block .techStack {
    margin-top: 20%;
}

/* galaga-block */
#galaga-block {
    background-color: rgb(239, 239, 245);
    display: flex;
    justify-content: space-around;
    padding: 6% 6%;
    min-height: 45vh;
    position: relative;

    display: flex;
    align-items: center;
}

#galaga-block .imgBlock {
    max-width: 60%;
}

#galaga-block .imgBlock img {
    max-width: 70%;
}

#galaga-block #galaga-block-Content {
    max-width: 30%;
}

#galaga-block h2 {
    font-size: 40px;
    margin: 5% 0;
    color: #3db39e;
}

#galaga-block #galaga-block-Content .galaga-link {
    font-size: 18px;
    font-style: italic;
    text-decoration-line: underline;
    color: black;
}

#galaga-block #galaga-block-Content .techStack {
    margin-top: 20%;
}



/* mainBlock3 */
#algorithm-block {
    display: flex;
    justify-content: space-around;
    padding: 2% 20%;
    margin: 5% 0;

    opacity: 1;
    transition: opacity 3s ease;
}

/* #mainBlock3.slide-left {
    opacity: 1;
} */

#algorithm-block .imgBlock {
    max-width: 40%;
}

#algorithm-block .imgBlock img {
    max-width: 60%;
}

#algorithm-block #algorithm-block-Content p {
    font-size: 40px;
    margin: 5% 0;
    color: #3db39e;
}



/* round block container */
.roundBlockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2% 2%; */
    margin: 2% 2%;
}

.roundBlock {
    border-radius: 25px;
    margin: 0 20px;
    height: 400px;
}

.roundBlock_upper {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-repeat: no-repeat;
    height: 250px;
    background-position: 50% 50%;
    /* background-size: contain; */
}

.roundBlock_lower {
    height: 150px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    text-align: center;
    box-sizing: border-box;
    /* padding: 20px; */

    /* background-color: #ddecff;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #ffffff 0, #ffffff 1px, #ddecff 0, #ddecff 50%); */
}
.roundBlock_lower h3 {
    font-weight: lighter;
}
.roundBlock_lower .readmoreBtn {
    margin: 0;
    margin: auto;
}
.roundBlock_lower_1 {
    height: 80px;
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;    
}
.roundBlock_lower_2 {
    height: 70px;    
    padding: 10px;
    box-sizing: border-box;
}


/* roundBlock 크기 */
.roundBlock_1 {
    width: 40em;
    /* width: 55%; */
    min-width: 500px;
}

.roundBlock_2 {
    width: 25em;
    /* width: 35%; */
    min-width: 400px;
}

.roundBlock_upper_web {
    background-image: url(../images/spring_home.png);
    background-size: 900px 400px;
}

.roundBlock_upper_unity {
    background-image: url(../images/unity_home.webp);
}

.roundBlock_upper_paper {
    background-image: url(../images/books_home.jpg);
}

.roundBlock_upper_algo {
    background-image: url(../images/algorithm_home.jpeg);
}

.backgroundColor_1 {
    background-image: linear-gradient(to right top, #d0e4fc, #e0e7fd, #eeeafd, #f8effc, #fff4fc);
}
.backgroundColor_2 {
    background-image: linear-gradient(to right top, #fcfcec, #eff8e7, #e1f5e5, #d3f1e6, #c7ece9);
}
.backgroundColor_3 {
    background-image: linear-gradient(to right top, #fff4fc, #fff4f7, #fff5f0, #fff8ec, #fcfcec);
}
.backgroundColor_4 {
    background-image: linear-gradient(to right top, #fff4fc, #f3f1ff, #e2efff, #d1eef8, #c7ece9);
}



/* fff4fc */
/* D0E4FC */
/* fcfcec */
/* c7ece9 */
/* d4ecfc */