* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */

    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Noto Sans KR', sans-serif;
}

#headerBackground {
    /* background-color: rgba(4, 9, 30, 0.7); */
    height: 90vh;
}




/* MAIN */
main {
    /* background-color: gray; */
    /* width: 80%; */
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

.imgBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* mainBlock1 */
#mainBlock1 {
    /* background-color: blue; */
    padding: 5% 20%;
    position: relative;
    height: 40vh;
    /* height: 100%; */
}

#mainBlock1Content {
    /* background-color: red; */
    position: absolute;
    right: 0%;
    opacity: 0;
    transition: right 1s ease, opacity 1s ease;
}

#mainBlock1Content.slide-right {
    right: 15%;
    opacity: 1;
}

#mainBlock1Content p {
    font-size: 40px;
    margin: 5% 0;
    color: #3db39e;
}

#imgBlock1 {
    /* background-color: #3db39e; */
    max-width: 40%;
    position: absolute;
    left: 0%;
    opacity: 0;
    transition: left 1s ease, opacity 1s ease;
}

#imgBlock1.slide-left {
    left: 15%;
    opacity: 1;
}

#mainBlock1 #imgBlock1 img {
    max-width: 50%;
}






/* mainBlock2 */
#mainBlock2 {
    background-color: rgb(239, 239, 245);
    padding: 5% 20%;
    position: relative;
    height: 30vh;
}

#mainBlock2Wrap {
    /* background-color: #3db39e; */
    position: absolute;
    display: flex;
    align-items: center;

    left: -100%;
    opacity: 0;

    transition: left 1s ease, opacity 1s ease;
}

#mainBlock2Wrap.slide-left {
    left: 15%;
    opacity: 2;
}

#mainBlock2 #mainBlock2Content {
    /* background-color: antiquewhite; */
    margin-bottom: 20px;
    margin-right: 100px;
}

#mainBlock2 #mainBlock2Content p {
    font-size: 40px;
    margin: 5% 0;
    color: #3db39e;
}

#imgBlock2 {
    /* background-color: #3db39e; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#imgBlock2 img {
    border-radius: 50%;
    width: 170px;
    height: 60px;
    margin: 0 3%;
}



/* mainBlock3 */
#mainBlock3 {
    display: flex;
    justify-content: space-around;
    padding: 2% 20%;
    margin: 5% 0;

    opacity: 0;
    transition: opacity 3s ease;
}

#mainBlock3.slide-left {
    opacity: 1;
}

#mainBlock3 .imgBlock {
    max-width: 40%;
}

#mainBlock3 .imgBlock img {
    max-width: 60%;
}

#mainBlock3 #mainBlock3Content p {
    font-size: 40px;
    margin: 5% 0;
    color: #3db39e;
}



/* Read more Btn */
#readmoreBtn {
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#readmoreBtn:hover {
    cursor: pointer;
    background-color: #3db39e;
}

#readmoreBtn a {
    text-decoration: none;
    color: white;
}