* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */

    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Noto Sans KR', sans-serif;
}

/* HEADER */
header {
    min-height: 50vh;
    width: 100%;
}
#headerBackground {    
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/spring_home.png);
}
#header-text-box {
    color:white;
}




/* MAIN */
main {
    width: 100%;
    margin: auto;
}

.mainContentBlock {  
    padding: 0 16%;
    margin: 10px 0;
}

/* mainBlock1 */
#mainBlock1 {
    justify-content: space-around;
    padding: 6% 6%;
    min-height: 45vh;
    

    display: flex;
    /* align-items: center; */
}

#mainBlock1 .imgBlock {
    max-width: 70%;
    /* border: 1px solid gray; */
}

#mainBlock1 .imgBlock img {
    max-width: 100%;
}

#mainBlock1 #mainBlock1Content {
    max-width: 30%;
}

#mainBlock1Content p {

}

#mainBlock1Content a {
    font-size: 18px;
    font-style: italic;
    text-decoration-line: underline;
    color: black;
}

#mainBlock1Content .techStack {
    margin-top: 20%;
}

.instaweb_exp_ul > li {
    margin-top: 2%;
    margin-top: 2%;
}

