* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    /* font-size: 20px; */

    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Noto Sans KR', sans-serif;
}

/* HEADER */
header {
    min-height: 50vh;
    width: 100%;
    /* linear-gradient: 이미지에 명암을 줌 (default는 to bottom) */
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/interface-3614766_1280.png); */
    background-image: url(../images/Official_unity_logo.png);    
    background-position: center;    
    background-size: 70% 70%;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-color: rgba(4, 9, 30, 0.7);

    position: relative;    
}

#navMain {
    display: flex;
    padding: 0 6%;
    min-height: 10vh;
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: white;
    position: relative;
}

#logo {
    /* border: 1px solid white; */
    font-size: 30px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Skranji', cursive;
}

#navLinks {
    flex: 1;
    text-align: right;
}

#navLinks ul {
    height: 100%;
}

.menu {
    height: 100%;
    list-style: none;
    /* li 하나의 행에 배치  */
    display: inline-block;
    padding: 0 12px;
}

.menu a {
    display: flex;
    align-items: center;
    height: 100%;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
}

.menu:hover {
    background-color: #2c2a29;
}

.menu:hover .navSub {
    opacity: 1;
    visibility: visible;
    height: 20vh;
}

.menu:hover>a {
    color: #3db39e;
}

.menu:hover .navSub ul {
    opacity: 1;
}

.navSub {
    position: absolute;
    background-color: #2c2a29;
    height: 0vh;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    top: 100%;
    left: 0;
    transition: height 0.5s;
    z-index: 1;
}

.navSub ul {
    opacity: 0;
    transition: opacity 0.5s;
    margin: 2% 5%;
}

.navSub li {
    list-style: none;
    text-align: left;
}

.navSub li a {
    margin: 1%;
    color: white;
    display: inline;
}

.navSub li a:hover {
    text-decoration: underline;
}


/* header-text-box */
#header-text-box {
    /* border: 1px solid white; */
    color: white;
    width: 90%;
    /* 가장 가까운 relative 부모는 <header> */
    position: absolute;
    /* absolute 이므로 좌측상단 기준 */
    left: 50%;
    top: 50%;
    /* translate(x,y) 왼쪽, 오른쪽 이동  */
    transform: translate(-50%, -50%);
    text-align: center;
}

#header-text-box h1 {
    font-size: 60px;
}



/* MAIN */
main {
    /* background-color: gray; */
    width: 100%;
    margin: auto;
    /* text-align: center; */
    /* padding-top: 100px; */

}


/* mainBlock1 */
#mainBlock1 {
    /* background-color: aquamarine; */
    padding: 6% 6%;
    min-height: 45vh;
    text-align: center;
}

#mainBlock1 .imgBlock {
    display: inline-block;
    text-align: center;
    /* background-color: #f44336; */
    max-width: 100%;
    margin-bottom: 1%;
}

#mainBlock1 .imgBlock img {
    max-width: 30%;
    padding: 0 2.5px;
}

#mainBlock1 #mainBlock1Content {
    /* max-width: 30%; */
    margin-top: 5%;
}

#mainBlock1 #mainBlock1Content a {
    font-size: 18px;
    font-style: italic;
    text-decoration-line: underline;
    color: black;
}

#mainBlock1 #mainBlock1Content .techStack {
    margin-top: 5%;
}


/* mainBlock2 */
#mainBlock2 {
    background-color: rgb(239, 239, 245);
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
    padding: 2% 16%;
    margin: 5% 0;
    line-height: 2;
}

#mainBlock2 .imgBlock {
    max-width: 40%;
}

#mainBlock2 .imgBlock img {
    max-width: 100%;
}

#mainBlock2Content {
    width: 100%;
}

#mainBlock2Content #title {
    font-size: 30px;
    margin: 5% 0;
    color: #3db39e;
}

#mainBlock2Content p {}

#mainBlock2Content a {
    color: black;
    text-decoration: underline;
}


/* mainBlock3 */
#mainBlock3 {
    background-color: white;
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
    padding: 2% 16%;
    margin: 5% 0;
    line-height: 2;
}






.ContentBlock {
    width: 100%;
    margin: 5% 0;
}

.ContentBlock p {
    margin: 2.5% 0;
    line-height: 1.5;
}

.ContentBlock img {
    margin: 2% 0;
    max-width: 100%;
}

.ContentBlock>hr {
    margin: 2% 0;
}

.divider {
    margin: 5%;
}

.divider hr {
    margin: 0 auto;
    width: 10%;
    border: 2px solid gray;
}