/* Read more Btn */
.readmoreBtn {
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin: 50px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.readmoreBtn:hover {
    cursor: pointer;
    background-color: #3db39e;
}

.readmoreBtn {
    text-decoration: none;
    color: white;
}

.readmoreBtn > div {
    text-decoration: none;
    color: white;
}