<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aboutme</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/aboutme.css" th:href="@{/css/aboutme.css}" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>기술</h2>
                    <hr>
                    <ul>
                        <li><b>4점)</b> 모든 기능을 시니어급으로 사용할 수 있음</li>
                        <li><b>3점)</b> 작동 원리를 이해하고 있어 추가 기능들은 공부 후 적용할 수 있음
                            <ul>
                                <li><a href="https://github.com/LSH3333/Instaweb/blob/cb653487036b3a75a5c75819e4abf4695c20fd11/src/main/java/web/instaweb/controller/PageController.java#L308-L355"
                                        target="_blank">JAVA</a>,
                                    <a target="_blank" href="/templates/instaweb.html"
                                        th:href="@{/instaweb}">Spring</a>,
                                    <a target="_blank" href="/templates/instaweb.html" th:href="@{/instaweb}">JPA</a>,
                                    <a target="_blank" href="#" th:href="@{/blog/844-백준-2933.-미네랄.html}">C++</a>
                                </li>
                            </ul>
                        </li>
                        <li><b>2점)</b> 사용해서 기능 구현 가능
                            <ul>
                                <li>
                                    <a href="https://tose33.tistory.com/1301" target="_blank">javascript</a>,
                                    <a target="_blank"
                                        href="https://github.com/LSH3333/portal/blob/289e58353c063e794e9c27a8981ebfd29a6fbb03/src/main/resources/templates/index.html#L47-L89">HTML</a>,
                                    <a target="_blank"
                                        href="https://github.com/LSH3333/portal/blob/289e58353c063e794e9c27a8981ebfd29a6fbb03/src/main/resources/static/css/mainContentBlock.css#L7-L26">CSS</a>,
                                    <a href="https://github.com/LSH3333/Galaga/blob/e24087b095567b632028bffa32c18505aa70c59a/Assets/Scripts/BezierController.cs#L5-L116"
                                        target="_blank">C#</a>,
                                    <a target="_blank" href="/templates/galaga.html" th:href="@{/galaga}">Uniy
                                        Engine</a>
                                </li>
                            </ul>
                        </li>
                        <li><b>1점)</b> 취미로 PS 문제를 풀어봤거나 코드를 작성해본 정도
                            <ul>
                                <li><a target="_blank" href="#" th:href="@{/blogPortal/multiLang}">Python</a>,
                                    <a target="_blank" th:href="@{/blogPortal/multiLang}">Kotlin</a>
                                </li>
                            </ul>
                        </li>
                    </ul>                    
                </div>
            </div>
        </div>
        <div id="mainBlock1">
            <div id="mainBlock1Content">
                <div class="block1">
                    <p id="title">About me...</p>
                    <ul>
                        <li>정말로 제가 좋아하는 개발이 무엇인지 알고 싶어 <b>spring & jpa</b> 를 사용한 웹 백엔드,
                            <b>javascript</b> 를 사용한 프론트, <b>유니티 엔진</b>을 이용한 게임 개발을 경험해 봤습니다.
                        </li>
                        <li>개발, 공부 내용을 <b>블로그</b>에 올리고 있으며 알고리즘 문제 해설 약 900 글 을 포함해 <b>전체
                                1200 개</b> 이상의 글을 포스팅 했습니다.
                        </li>
                        <li>현재 목표는 디자인 패턴과 웹 백엔드 기술들을 더욱 심도 있게 공부해
                            언젠가 프로젝트의 설계까지 맡아서 할 수 있는 개발자가 되는 것입니다.</li>
                    </ul>
                </div>

                <div class="block1">
                    <p id="title">Problem Solving</p>
                    <ul>
                        <li>알고리즘 PS 문제 1000 문제 이상 솔브 </li>
                        <li><a target="_blank" href=" https://www.acmicpc.net/user/chadol51
                            "> https://www.acmicpc.net/user/chadol51
                            </a></li>
                    </ul>
                </div>

                <div class="block1">
                    <p id="title">어학</p>
                    <ul>
                        <li>토익 945 (2021/9 만료)</li>
                        <li>오픽 IH (2023/3 만료)</li>
                        <li>초등학생 시절 4 년간 싱가포르 거주</li>
                    </ul>
                </div>

                <div class="block1">
                    <p id="title">학력</p>
                    <ul>
                        <li>단국대학교 컴퓨터공학과 학사 졸업</li>
                    </ul>
                </div>

                <div class="block1">
                    <p id="title">인적사항</p>
                    <ul>
                        <li>블로그 : <a target="_blank" href="https://tose33.tistory.com/">https://tose33.tistory.com/</a>
                        </li>
                        <li>Github : <a target="_blank" href="https://github.com/LSH3333">https://github.com/LSH3333</a>
                        </li>
                        <li>Email : <a target="_blank" href="dltpgustpgus@gmail.com">dltpgustpgus@gmail.com</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>