<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aboutme</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/aboutme.css" th:href="@{/css/aboutme.css}" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>기술</h2>
                    <hr>
                    <ul>
                        <li><b>4점)</b> 모든 기능을 시니어급으로 사용할 수 있음</li>
                        <li><b>3점)</b> 작동 원리를 이해하고 있어 추가 기능들은 공부 후 적용할 수 있음
                            <ul>
                                <li><a href="https://github.com/LSH3333/Instaweb/blob/cb653487036b3a75a5c75819e4abf4695c20fd11/src/main/java/web/instaweb/controller/PageController.java#L308-L355"
                                        target="_blank">JAVA</a>,
                                    <a target="_blank" href="/templates/instaweb.html"
                                        th:href="@{/instaweb}">Spring</a>,
                                    <a target="_blank" href="/templates/instaweb.html" th:href="@{/instaweb}">JPA</a>,
                                    <a target="_blank" href="#" th:href="@{/blog/844-백준-2933.-미네랄.html}">C++</a>
                                </li>
                            </ul>
                        </li>
                        <li><b>2점)</b> 사용해서 기능 구현 가능
                            <ul>
                                <li>
                                    <a href="https://tose33.tistory.com/1301" target="_blank">javascript</a>,
                                    <a target="_blank"
                                        href="https://github.com/LSH3333/portal/blob/289e58353c063e794e9c27a8981ebfd29a6fbb03/src/main/resources/templates/index.html#L47-L89">HTML</a>,
                                    <a target="_blank"
                                        href="https://github.com/LSH3333/portal/blob/289e58353c063e794e9c27a8981ebfd29a6fbb03/src/main/resources/static/css/mainContentBlock.css#L7-L26">CSS</a>,
                                    <a href="https://github.com/LSH3333/Galaga/blob/e24087b095567b632028bffa32c18505aa70c59a/Assets/Scripts/BezierController.cs#L5-L116"
                                        target="_blank">C#</a>,
                                    <a target="_blank" href="/templates/galaga.html" th:href="@{/galaga}">Uniy
                                        Engine</a>,
                                    <a target="_blank" href="https://tose33.tistory.com/category/Web/Docker"
                                        th:href="@{/galaga}">도커</a>
                                </li>
                            </ul>
                        </li>
                        <li><b>1점)</b> 취미로 PS 문제를 풀어봤거나 코드를 작성해본 정도
                            <ul>
                                <li><a target="_blank" href="#" th:href="@{/blogPortal/multiLang}">Python</a>,
                                    <a target="_blank" th:href="@{/blogPortal/multiLang}">Kotlin</a>,
                                    <a target="_blank"
                                        href="https://tose33.tistory.com/category/Web/Kubernetes">쿠버네티스</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="mainBlock1">
            <div id="mainBlock1Content">
                <div class="block1">
                    <p id="title">About me...</p>
                    <ul>
                        <li>정말로 제가 좋아하는 개발이 무엇인지 알고 싶어 <b>spring & jpa</b> 를 사용한 사용한 패션 쇼핑몰 웹 어플리케이션,
                            <b>javascript</b> 를 사용한 프론트, <b>유니티 엔진</b>을 이용한 게임 개발을 경험해 봤습니다.
                        </li>
                        <li>개발, 공부 내용을 <b>블로그</b>에 올리고 있으며 알고리즘 문제 해설 약 900 글 을 포함해 <b>전체
                                1400 개</b> 이상의 글을 포스팅 했습니다.
                        </li>
                        <li>제 목표는 풀스택이 아닌 백엔드 개발자입니다. <br>
                            하지만 유니티,웹 프론트,백엔드를 모두 경험해보면서 각 기술 뿐만이 아닌 새로운 기술을 공부하는 방법에 대한 제 나름의 방법이 정리됐습니다.
                        </li>
                    </ul>
                </div>

                <div class="block1">
                    <p id="title">Problem Solving</p>
                    <ul>
                        <li>알고리즘 PS 문제 1000 문제 이상 솔브 </li>
                        <li><a target="_blank" href=" https://www.acmicpc.net/user/chadol51
                            "> https://www.acmicpc.net/user/chadol51
                            </a></li>
                    </ul>
                </div>

                <div class="block1">
                    <p id="title">어학</p>
                    <ul>
                        <li>토익 945 (2021/9 만료)</li>
                        <li>오픽 IH (2023/3 만료)</li>
                        <li>초등학생 시절 4 년간 싱가포르 거주</li>
                    </ul>
                </div>

                <div class="block1">
                    <p id="title">학력</p>
                    <ul>
                        <li>단국대학교 컴퓨터공학과 학사 졸업</li>
                    </ul>
                </div>

                <div class="block1">
                    <p id="title">인적사항</p>
                    <ul>
                        <li>블로그 : <a target="_blank" href="https://tose33.tistory.com/">https://tose33.tistory.com/</a>
                        </li>
                        <li>Github : <a target="_blank" href="https://github.com/LSH3333">https://github.com/LSH3333</a>
                        </li>
                        <li>Email : <a target="_blank" href="dltpgustpgus@gmail.com">dltpgustpgus@gmail.com</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div id="mainBlock1">
            <div id="mainBlock1Content">

                <div class="block1">
                    <p id="title">문제 해결 경험들</p>
                    <p><b>[지인의 패션 브랜드 쇼핑몰 개발]</b></p>
                    <p><a href="https://mavi-karga.com/" target="_blank">https://mavi-karga.com/</a></p>
                    <p>지인의 패션 브랜드 쇼핑몰 개발을 했습니다. <br>
                        현재 서버,클라이언트는 대부분 완성된 상태이고 일부 제품 설명, 컨텐츠만 채워 넣으면 되는 상태입니다.<br>
                        <br>
                        지인이 직접 상품 추가, 수정 등 관리가 가능하도록 프로그래밍을 모르는 관리자가 손쉽게 상품 추가, 수정, 주문조회, 회원조회를 할 수 있도록 <b>어드민 페이지를
                            만들었습니다</b>.<br>
                        결제는 포트원 api 를 사용했고, 결제 검증은 포트원에서 보내주는 웹훅을 이용해 안전하게 검증하도록 했습니다.<br>
                        결제 시스템은 현재 PG사와 계약이 완료되면 테스트 결제에서 실제 결제가 가능하도록 변경 예정입니다.<br>
                        <br>
                        실제 쇼핑몰 서비스를 위해서는 개인정보 취급방침, 이용약관, 배송 방침 등 지켜야 할 일들이 많았고 특히 개인정보 보관이 엄격해 3개월에 한 번 DB 에서 개인정보는 자동
                        제거하도록 했습니다.<br>
                        개인정보 보호와 데이터 무결성을 지키기 위해 테이블 자체를 지우는 hard deletion 이 아닌 내용만 지우는 soft deletion 으로 처리해 혹여나 연관관계에
                        문제가 없도록 했습니다.<br><br>
                    </p>
                </div>

                <div class="block1">
                    <p><b>[여러 개의 옵션이 있는 상품의 도메인 설계]</b></p>
                    <p>
                        쇼핑몰 개발 초기에는 상품의 선택 옵션이 사이즈 선택 밖에 없었지만, 이후 일부 상품은 색상의 선택을 갖게 됐습니다. <br>
                        상품이 상품 사이즈 옵션만을 갖을 때는 상품 테이블과, 상품 사이즈 테이블 사이에 일대다 관계를 만드는 것으로 충분했습니다.<br>
                        하지만 <b>색상 이라는 옵션이 추가되면서 도메인 구조 자체의 변경이 불가피</b>하게 됐습니다.<br>
                        문제 해결을 위해 키-값 테이블을 만드는 등 다른 해결방법을 생각해봤지만 여기서는 다른 방법을 사용했습니다.<br>
                        <br>
                        상품 사이즈, 색상을 갖는 <b>상품옵션 테이블을 만들었고, 상품 테이블과 일대다 관계</b>를 맺었습니다.<br>
                        이렇게 설계 할 경우 문제가 있었는데 상품 사이즈와 색상 옵션의 조합에 비례하여 중복 데이터가 DB에 저장된다는 문제입니다.<br>
                        하지만 지인과 상담결과 이 쇼핑몰의 경우 거의 모든 상품은 사이즈 옵션만 존재하고 극히 일부 상품 (현재로서는 1~2개의 상품 정도만) 만 색상 옵션도 갖기 때문에 충분히
                        적용 가능하다고 판단했습니다.<br><br>

                    </p>
                </div>

                <div class="block1">
                    <p><b>[결제 시스템, 결제금액 사후검증 웹훅 처리]</b></p>
                    <p>
                        mavi-karga 쇼핑몰의 결제 사후검증 방식은 처음에 사용자가 입력한 정보(이메일,배송지 등)와 결제관련 정보를 클라이언트에서 서버로 한번에 보내도록 구현하였었습니다.
                        <br>
                        이후 포트원에서 보내주는 <b>웹훅을 이용해 결제검증을 하도록 변경</b>이 필요했는데, 사용자가 입력한 정보를 서버로 보내는 요청과, 웹훅의 결제 검증 로직을 분리해야
                        했고 HTTP는
                        상태를 저장하지 않기 때문에 <b>두 개의 서로 다른 요청을 처리하는 어려움</b>이 있었습니다. <br>
                        웹훅은 포트원 서버에서 보내고, 사용자의 정보는 사용자의 클라이언트에서 보내기 때문에 <b>세션도 서로 달라 세션 사용도 어려웠습니다</b>. <br>
                        <br>
                        고민 끝에 해결한 방법은 포트원 <b>웹훅에서 보내주는 merchant_uid 라는 고유 값을 식별자로 사용</b>했습니다.<br>
                        먼저 사용자의 클라이언트에서 사용자 정보를 받아서 데이터를 DB에 저장하고 이때 merchant_uid 도 같이 저장합니다.<br>
                        이후 포트원에서 보내는 웹훅을 받아 merchant_uid 값으로 DB에서 데이터를 가져와서 결제 검증 후 결제정보를 완성해 DB에 저장하도록 해서 문제를
                        해결했습니다.<br><br>
                    </p>
                </div>

                <div class="block1">
                    <p><b>[부족한 부분을 개선하기 위한 버전 2 제작]</b></p>
                    <p><a target="_blank" href="https://www.sehyun-portal.com/instaweb">Instaweb-v1</a></p>
                    <p><a target="_blank" href="https://www.sehyun-portal.com/instawebv2">Instaweb-v2</a></p>
                    <p>
                        만들어본 첫 번째 웹 프로그램은 Instaweb 이 었습니다. <br>
                        처음에는 에디터, OAuth2 로그인 등 이 프로젝트에서 필요한 기능들을 최대한 프레임워크에 의존하지 않고 직접 구현해보고 싶었습니다.<br>
                        <br>
                        이후 Instaweb 을 만들면서 개선하고 싶었던 부분을 고친 버전 2 를 만들었습니다.<br>
                        최대한 프레임워크에 의존하지 않고 구현해본 버전 1과 다르게 버전 2 에서는 OAuth2 로그인을 위한 Spring Security와 에디터는 ckeditor5 api 를
                        활용했습니다.<br>
                        <br>
                        버전 1 은 heroku로 배포한 반면 버전 2 는 Docker 를 이용해 aws ec2 배포 했습니다.<br>
                        또한 새로운 도메인을 구입하지 않고 보유중이던 sehyun-portal.com 의 네임서버를 AWS Route53를 가리키도록 해서 서브도메인을 활용했습니다.<br><br>

                    </p>
                </div>

                <div class="block1">
                    <p><b>[알고리즘 문제 1000개 이상 솔브]</b></p>
                    <p>
                        개발을 시작한 이후부터 일주일에 몇 문제는 꼭 풀도록 습관을 들였습니다. <br>
                        어느새 풀어본 문제는 백준에서만 1000 문제가 넘었습니다. <br>
                        개발은 문제 해결의 연속입니다. <br>
                        저는 문제를 해결할 때 알고리즘이 문제 해결의 힌트가 되 주고, 자료구조는 알고리즘 이해의 필수요소라고 생각합니다.<br>
                        실제로 갤러그 게임을 만들 때 베지어 곡선을 재귀적 dfs 방식으로 구현했고 평소에 꾸준히 알고리즘 문제를 풀었던 성과를 맛봤습니다.<br>
                    </p>
                </div>
            </div>
        </div>


    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>