<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galaga</title>
    <link rel="stylesheet" type="text/css" href="/static/css/galaga.css" th:href="@{/css/galaga.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header>
        <nav>
            <div id="navMain">
                <a id="logo" href="/templates/index.html" th:href="@{/}">LSH</a>
                <div id="navLinks">
                    <ul>
                        <li class="menu"><a href="/templates/index.html" th:href="@{/}">HOME</a>
                        </li>
                        <li class="menu"><a href="/templates/portfolio.html" th:href="@{/portfolio}">PORTFOLIO</a>
                            <div class="navSub">
                                <ul>
                                    <li><a href="/templates/instaweb.html" th:href="@{/instaweb}">InstaWeb</a></li>
                                    <li><a href="/templates/galaga.html" th:href="@{/galaga}">Galaga</a></li>
                                    <li><a href="/templates/manygames.html" th:href="@{/manygames}">ManyGames</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu"><a href="/templates/aboutme.html" th:href="@{/aboutme}">ABOUT ME</a>
                            <div class="navSub">
                                <ul>
                                    <li><a href="https://tose33.tistory.com/" target="_blank">Blog</a></li>
                                    <li><a href="https://github.com/LSH3333" target="_blank">Git</a></li>
                                    <li><a href="https://www.acmicpc.net/user/chadol51" target="_blank">PS</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="header-text-box">
            <h1>GALAGA</h1>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <!-- MainBlock1 -->
        <div id="mainBlock1">
            <!-- 베지어 곡선 따라 이동하는 오브젝트들 -->
            <span style="position: absolute;" id="obj"><img id="imgObj" src="/images/Enemy1_1.png" alt=""></span>
            <span style="position: absolute;" id="obj2"><img id="imgObj2" src="/images/Enemy2_1.png" alt=""></span>
            <span style="position: absolute;" id="obj3"><img id="imgObj3" src="/images/Enemy3_1.png" alt=""></span>
            <span style="position: absolute;" id="obj4"><img id="imgObj4" src="/images/Enemy4_1.png" alt=""></span>
            <!-- 조절점들 -->
            <span style="position: absolute;" id="p1"></span>
            <span style="position: absolute;" id="p2"></span>
            <span style="position: absolute;" id="p3"></span>
            <span style="position: absolute;" id="p4"></span>
            <div id="mainBlock1Content">
                <p>
                    Unity 로 구현한 갤러그.<br><br>
                    중점은 오브젝트의 곡선 이동 구현이었고 <a href="https://tose33.tistory.com/848" target="_blank">베지어 곡선</a>으로
                    구현했습니다.<br><br>
                    지금 앞에서 움직이고 있는 갤러그 오브젝트들도 C# 에서 구현한 베지어 곡선을 그대로 javascript로 구현해 사용했습니다.
                    <br><a href="https://tose33.tistory.com/1192" target="_blank">(C# -> js 과정)</a>
                    <br><br>
                    <a href="https://lsh3333.itch.io/galaga" target="_blank">play game →</a><br>
                    <a href="https://github.com/LSH3333/Galaga" target="_blank"><i class="fa-brands fa-github"></i>
                        visit git →</a>
                </p>
                <div class="techStack">
                    <img src="/static/images/csharp.svg" th:src="@{/images/csharp.svg}" alt="">
                    <img src="/static/images/unity.svg" th:src="@{/images/unity.svg}" alt="">
                </div>
            </div>
            <div class="imgBlock">
                <img style="width: 60%;" src="/static/images/galaga_spawn.png" th:src="@{/images/galaga1.png}" alt="">
            </div>
        </div>
        <!-- MainBlock2 -->
        <div id="mainBlock2">
            <div id="mainBlock2Content">
                <div class="ContentBlock">
                    <img style="max-width: 30%;" src="/static/images/galaga_start.png" th:src="@{/images/galaga2.png}" alt="">
                    <img style="max-width: 30%;" src="/static/images/galaga_spawn.png" th:src="@{/images/galaga1.png}" alt="">
                    <img style="max-width: 30%;" src="/static/images/galaga_drain.png" th:src="@{/images/galaga_drain.png}" alt="">
                    <p>베지어 곡선을 이용한 적들의 곡선 이동 구현.</p>
                    <p><a href="https://github.com/LSH3333/Galaga/blob/e24087b095567b632028bffa32c18505aa70c59a/Assets/Scripts/BezierController.cs#L5-L116" target="_blank">Bezier 곡선 구현</a></p>
                    <div class="divider"><hr></div>

                    <p>조절점 3개</p>
                    <img style="width: 60%;" src="/static/images/galaga_bezier1.gif" th:src="@{/images/galaga_bezier1.gif}" alt="">
                    <p>조절점 4개</p>
                    <img style="width: 60%;" src="/static/images/galaga_bezier2.gif" th:src="@{/images/galaga_bezier2.gif}" alt="">
                    <p>고리모양</p>
                    <img  style="width: 60%;" src="/static/images/galaga_bezier3.gif" th:src="@{/images/galaga_bezier3.gif}" alt="">
                    
                </div>
            </div>
        </div>

    </main>

        <!-- FOOTER -->
        <footer>
            <h3>LSH</h3>
            <ul>
                <li>@ LSH Portal</li>
                <li>|</li>
                <li><a href="https://github.com/LSH3333" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li>|</li>
                <li><a href="https://tose33.tistory.com/" target="_blank"><i class="fa-solid fa-t"></i></a></li>
                <li>|</li>
                <li><a href="https://www.acmicpc.net/user/language/chadol51" target="_blank"><i class="fa-solid fa-b"></i>
                    </a></li>
                <li>|</li>
            </ul>
        </footer>

    <script type="text/javascript" src="/static/js/bezierGalaga.js" th:src="@{/js/bezierGalaga.js}"></script>
</body>

</html>