<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <!-- MAIN BLOCK 1 -->
        <div id="mainBlock1">
            <div id="imgBlock1" class="imgBlock">
                <img src="/static/images/music-32859_1280.png" th:src="@{/images/music-32859_1280.png}" alt="">
            </div>
            <div id="mainBlock1Content">
                <p>Welcome!</p>
                이 공간은 저 자신을 소개하기 위해 만든 웹사이트입니다.<br>
                둘러보시면서 저에 대해 알아보세요!<br>
                <div id="readmoreBtn"><a href="/templates/aboutme.html" th:href="@{/aboutme}">About me!</a></div>
            </div>
        </div>
        <!-- MAIN BLOCK 2 -->
        <div id="mainBlock2">
            <!-- 베지어 곡선 따라 이동하는 오브젝트들 -->
            <span style="position: absolute;" id="obj"><img id="imgObj" src="/images/Enemy1_1.png" alt=""></span>
            <span style="position: absolute;" id="obj2"><img id="imgObj2" src="/images/Enemy2_1.png" alt=""></span>
            <span style="position: absolute;" id="obj3"><img id="imgObj3" src="/images/Enemy3_1.png" alt=""></span>
            <span style="position: absolute;" id="obj4"><img id="imgObj4" src="/images/Enemy4_1.png" alt=""></span>
            <!-- 조절점들 -->
            <span style="position: absolute;" id="p1"></span>
            <span style="position: absolute;" id="p2"></span>
            <span style="position: absolute;" id="p3"></span>
            <span style="position: absolute;" id="p4"></span>
            <div id="mainBlock2Wrap">
                <div id="mainBlock2Content">
                    <p>What I did</p>
                    제가 만든 웹사이트와 게임들,<br> 한 번 구경해보실래요?<br>
                    <div id="readmoreBtn"><a href="/templates/portfolio.html" th:href="@{/portfolio}">Portfolio</a>
                    </div>
                </div>
                <div id="imgBlock2">
                    <img src="/static/images/instawebLogo.png" th:src="@{/images/instawebLogo.png}" alt="">
                    <img src="/static/images/galagaLogo.png" th:src="@{/images/galagaLogo.png}" alt="">
                    <img src="/static/images/manyGamesLogo.png" th:src="@{/images/manyGamesLogo.png}" alt="">
                </div>
            </div>
        </div>
        <!-- MAIN BLOCK 3 -->
        <div id="mainBlock3">
            <div class="imgBlock">
                <img src="/static/images/draw-4067546_1280.png" th:src="@{/images/draw-4067546_1280.png}" alt="">
            </div>
            <div id="mainBlock3Content">
                <p>Blog</p>
                공부하면서 기록해놓는 제 블로그입니다.<br>
                <div id="readmoreBtn"><a href="https://tose33.tistory.com/" target="_blank">My blog</a></div>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>

    <script type="text/javascript" src="/static/js/bezierHome.js" th:src="@{/js/bezierHome.js}"></script>
    <script type="text/javascript" src="/static/js/slideObj.js" th:src="@{/js/slideObj.js}"></script>
</body>

</html>