<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <!-- css style -->
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/readmoreBtn.css" th:href="@{/css/readmoreBtn.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header">
    </header>

    <!-- MAIN -->
    <main>
        <div class="roundBlockContainer">
            <div class="roundBlock roundBlock_1">
                <a class="roundBlock_upper" href="/templates/instaweb.html" th:href="@{/instaweb}">
                    <div class="roundBlock_upper roundBlock_upper_web"></div>
                </a>
                <div class="roundBlock_lower backgroundColor_1">
                    <div class="roundBlock_lower_1">
                        <h3>스프링 프레임워크, JPA, Javascript 를 이용한 웹 어플리케이션</h3>
                    </div>
                    <div class="roundBlock_lower_2">
                        <div id="readmoreBtn"><a href="/templates/instaweb.html" th:href="@{/instaweb}">WEB</a></div>
                    </div>
                </div>
            </div>

            <div class="roundBlock roundBlock_2">
                <a class="roundBlock_upper" href="/templates/galaga.html" th:href="@{/galaga}">
                    <div class="roundBlock_upper roundBlock_upper_unity"></div>
                </a>
                <div class="roundBlock_lower backgroundColor_2">
                    <div class="roundBlock_lower_1">
                        <h3>유니티 엔진</h3>
                    </div>
                    <div class="roundBlock_lower_2">
                        <div id="readmoreBtn"><a href="/templates/galaga.html" th:href="@{/galaga}">UNITY</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="roundBlockContainer">
            <div class="roundBlock roundBlock_2">
                <a class="roundBlock_upper" href="/templates/paper.html" th:href="@{/paper}">
                    <div class="roundBlock_upper roundBlock_upper_paper"></div>
                </a>
                <div class="roundBlock_lower backgroundColor_3">
                    <div class="roundBlock_lower_1">
                        <h3>정리와 기록</h3>
                    </div>
                    <div class="roundBlock_lower_2">
                        <div id="readmoreBtn"><a href="/templates/paper.html" th:href="@{/paper}">PAPER</a></div>
                    </div>
                </div>
            </div>

            <div class="roundBlock roundBlock_1">
                <a class="roundBlock_upper" href="/templates/blog/blogPortal.html" th:href="@{/blogPortal}"><div class="roundBlock_upper roundBlock_upper_algo"></div></a>        
                <div class="roundBlock_lower backgroundColor_4">
                    <div class="roundBlock_lower_1">
                        <h3>알고리즘, Problem Solving</h3>
                    </div>
                    <div class="roundBlock_lower_2">
                        <div id="readmoreBtn"><a href="/templates/blog/blogPortal.html"
                                th:href="@{/blogPortal}">ALGORITHM</a></div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>