<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InstaWeb</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/instaweb.css" th:href="@{/css/instaweb.css}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <!-- MainBlock1 -->
        <div id="mainBlock1">
            <div class="imgBlock">
                <img src="/static/images/instaweb.png" th:src="@{/images/instaweb.png}" alt="">
            </div>
            <div id="mainBlock1Content">
                <p>
                    로그인 후 글, 댓글을 작성할수 있는 웹.<br><br>
                    백엔드는 스프링, 데이터 저장은 jpa 를 사용했고 db는 postgresql, 클라이언트 사이드는 javascript, 프론트 디자인은 html 과 css 로 구현했습니다.
                    <!-- 서버 사이드는 Spring을 사용해 구현했고 클라이언트 사이드는 javascript, 프론트 디자인은 html 과 css 로 구현했습니다. -->
                    <br><br>
                    <a href="https://lsh-instaweb.herokuapp.com/" target="_blank"><i class="fa-solid fa-link"></i>visit web →</a><br>
                    <a href="https://github.com/LSH3333/Instaweb" target="_blank"><i class="fa-brands fa-github"></i>
                        visit git →</a>
                </p>
                <div class="techStack">
                    <img src="/static/images/spring.svg" th:src="@{/images/spring.svg}" alt="">
                    <img src="/static/images/hibernate.svg" th:src="@{/images/hibernate.svg}" alt="">
                    <img src="/static/images/html.svg" th:src="@{/images/html.svg}" alt="">
                    <img src="/static/images/css.svg" th:src="@{/images/css.svg}" alt="">
                    <img src="/static/images/thymeleaf.svg" th:src="@{/images/thymeleaf.svg}" alt="">
                    <img src="/static/images/js.svg" th:src="@{/images/js.svg}" alt="">
                    <img src="/static/images/heroku.svg" th:src="@{/images/heroku.svg}" alt="">
                    <img src="/static/images/postgres.svg" th:src="@{/images/postgres.svg}" alt="">
                </div>
            </div>
        </div>
        <!-- mainContentBlock -->
        <div class="mainContentBlock" style="background-color: rgb(239, 239, 245); ">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>도메인 모델</h2>
                    <hr>
                    <img src="/static/images/domainModel.jpg" th:src="@{/images/domainModel.jpg}" alt="">
                </div>
            </div>
        </div>
        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>기술 스택</h2>
                    <hr>
                    <img src="/static/images/spring.svg" th:src="@{/images/spring.svg}" alt="">
                    <img src="/static/images/hibernate.svg" th:src="@{/images/hibernate.svg}" alt="">
                    <img src="/static/images/html.svg" th:src="@{/images/html.svg}" alt="">
                    <img src="/static/images/css.svg" th:src="@{/images/css.svg}" alt="">
                    <img src="/static/images/thymeleaf.svg" th:src="@{/images/thymeleaf.svg}" alt="">
                    <img src="/static/images/js.svg" th:src="@{/images/js.svg}" alt="">
                    <br>
                    <img src="/static/images/heroku.svg" th:src="@{/images/heroku.svg}" alt="">
                    <img src="/static/images/postgres.svg" th:src="@{/images/postgres.svg}" alt="">
                </div>
            </div>
        </div>
        <div class="mainContentBlock" style="background-color: rgb(239, 239, 245); ">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>주요 기능</h2>
                    <hr>
                    <h4>가입</h4>
                    <img src="/static/images/instaweb_reg.png" th:src="@{/images/instaweb_reg.png}" alt="">
                    <p>입력한 내용이 주어진 조건에 맞는지 확인, db에 중복되는 loginId, name 있는지 확인.</p>
                    <a href="https://github.com/LSH3333/Instaweb/blob/main/src/main/java/web/instaweb/controller/MemberController.java"
                        target="_blank">MemberController.java</a>
                    <div class="divider">
                        <hr>
                    </div>

                    <h4>로그인</h4>
                    <img src="/static/images/instaweb_login.png" th:src="@{/images/instaweb_login.png}" alt="">
                    <p>로그인 여부 확인은 Spring Interceptor 통해서 진행.</p>
                    <p>모든 경로 막아 놓고 로그인 불필요한 경로(home 화면, 글 보기, ajax 요청 경로 등) 만 Interceptor 거치치 않도록 함.</p>
                    <p>회원가입 없이 guest 아이디 로그인 지원.</p>
                    <br>
                    <p><a target="_blank"
                            href="https://github.com/LSH3333/Instaweb/blob/3055332448adafbf4d22b2a890ca155be510a96b/src/main/java/web/instaweb/interceptor/LoginCheckInterceptor.java#L13-L37">로그인
                            체크 인터셉터</a></p>
                    <p><a target="_blank"
                            href="https://github.com/LSH3333/Instaweb/blob/3055332448adafbf4d22b2a890ca155be510a96b/src/main/java/web/instaweb/WebConfig.java#L9-L40">WebConfig</a>
                    </p>
                    <div class="divider">
                        <hr>
                    </div>

                    <h4>글 작성, 수정, 삭제</h4>
                    <img src="/static/images/instaweb_edit.png" th:src="@{/images/instaweb_edit.png}" alt="">
                    <p>글 작성, 수정에서 작성된 모든 내용 (제목,콘텐츠,이미지 등) 들은 모두 ajax 요청으로 서버로 보내서 저장 처리.</p>
                    <p>수정시 서버에서 해당 글에 저장된 모든것들 불러와서 다시 로드함.</p>
                    <br>
                    <p><b>이미지</b>는 사용자가 삽입했다가 지웠다가 할 수 있으므로 삽입시 html에 img 태그 삽입과 함께 고유 uuid 부여해서 해당 값을 key 값으로하는 map 에
                        저장해놓는다.</p>
                    <p>이미지를 사용자가 지우면 img 태그가 지워진다.</p>
                    <p>글 작성이 끝나고 서버에 정보들이 보내질때 img 태그들과 map 을 대조해서 지워지지 않은 이미지들만 서버로 보낸다.</p>
                    <p>작성된 내용들은 html 그대로 db 에 저장된다.</p>
                    <br>
                    <p><b>에디터</b> 내 복사 붙여넣기 지원. (html element 를 통째로 복사해서 붙여 넣는 방법으로 속성(폰트크기 등)들 유지됨)</p>
                    <p>외부 프로그램에서 복사 붙여 넣기 시 모두 단순 텍스트로 변형해서 붙여넣어짐.</p>
                    <p>에디터 기능은 글 작성, 수정에서 동일하게 쓰이므로 thymeleaf fragment 로 만들어서 관리함.</p>
                    <p><a target="_blank"
                            href="https://github.com/LSH3333/Instaweb/blob/main/src/main/resources/templates/fragment/editorData.html">editorData
                            fragment</a></p>
                    <div class="divider">
                        <hr>
                    </div>

                    <h4>글 삭제</h4>
                    <p>로그인한 Member 가 작성한 Page 는 삭제할수 있다.</p>
                    <img src="/static/images/instaweb_delete1.png" th:src="@{/images/instaweb_delete1.png}" alt="">
                    <img src="/static/images/instaweb_delete2.png" th:src="@{/images/instaweb_delete2.png}" alt="">
                    <p>스프링 인터셉터로 등록된 LoginCheckInterceptor 에서는 삭제를 포함한 모든 로그인이 필요한 요청에 대해, 로그인되지 않은 상태로 요청할 경우 로그인 화면으로
                        리다이렉트하도록 되어있다.</p>
                    <p><a target="_blank"
                            href="https://github.com/LSH3333/Instaweb/blob/a32aabc8b8631e3889c0daf8c77fc8c7de525973/src/main/java/web/instaweb/interceptor/LoginCheckInterceptor.java#L13-L37">LoginCheckInterceptor</a>
                    </p>
                    <div class="divider">
                        <hr>
                    </div>

                    <h4>홈</h4>
                    <img src="/static/images/instaweb_home.png" th:src="@{/images/instaweb_home.png}" alt="">
                    <p>홈에서는 모든 유저들이 작성한 글들을 볼 수 있다.</p>
                    <p>홈과 작성된 글들은 로그인 여부에 상관 없이 볼 수 있다.</p>
                    <p>(스프링 인터셉터에서 LoginCheckInterceptor 의 검사 경로에서 제외)</p>
                    <p><a target="_blank"
                            href="https://github.com/LSH3333/Instaweb/blob/af3e3fab8dc91a822f6ada977f9685d21311b588/src/main/java/web/instaweb/WebConfig.java#L12-L30">WebConfig
                            인터셉터 경로 제외</a></p>
                    <div class="divider">
                        <hr>
                    </div>

                    <h4>나의 작성 목록</h4>
                    <img src="/static/images/instaweb_mypage.png" th:src="@{/images/instaweb_mypage.png}" alt="">
                    <p>나의 작성 목록 탭에서는 내가 작성한 글들만 표시된다.</p>
                    <div class="divider">
                        <hr>
                    </div>

                    <h4>Infinite Scroll</h4>
                    <p><b>홈, 나의 작성 목록</b>에서 Page 목록이 보여질때는 스크롤을 내리면 서버에서 클라이언트로 새로운 Page 들을 ajax 로 보내준다.</p>
                    <p>서버에서 Page 들은 생성일 기준으로 정렬되어 저장되어 있고, 차례대로 클라이언트로 보내지기 때문에 최근에 작성된 Page 가 먼저 클라이언트로 보내진다.</p>
                    <p>서버에서 Page 와 Page 에 속하는 첫 번째 이미지를 Wrap 해서 클라이언트로 보내주고, 클라이언트는 받아서 화면에 띄운다.</p>
                    <img src="/static/images/instaweb_page1.png" th:src="@{/images/instaweb_page1.png}" alt="">
                    <p><a target="_blank"
                            href="https://github.com/LSH3333/Instaweb/blob/af3e3fab8dc91a822f6ada977f9685d21311b588/src/main/java/web/instaweb/controller/PageController.java#L159-L204">서버에서
                            클라이언트로 wrap data 전송</a></p>
                    <div class="divider">
                        <hr>
                    </div>

                    <h4>글 검색</h4>
                    <img src="/static/images/instaweb_search1.png" th:src="@{/images/instaweb_search1.png}" alt="">
                    <p>글 검색은 db 에서 저장된 Page 들을 가져와서 title, content에 유저가 검색한 searchQuery 문자와 일치하는 문자가 있는지 탐색한다.</p>
                    <p>content 는 html 통째로 저장되기 때문에 단순히 searchQuery 와 일치하는 문자열이 존재하는지 탐색하면 element 와 충돌하는 경우가 있는데 ("a"
                        검색시 태그를 찾음)</p>
                    <p>해결하기 위해 element 들을 모두 골라내 text 부분만을 대상으로 searchQuery 와 대조해본다.</p>
                    <p><a target="_blank"
                            href="https://github.com/LSH3333/Instaweb/blob/4bc9a2228f3c4b98ee0f3d970ff2c20d8d33e25e/src/main/java/web/instaweb/repository/PageRepository.java#L119-L143">checkContentWithSearchQuery</a>
                    </p>
                    <img src="/static/images/instaweb_search2.png" th:src="@{/images/instaweb_search2.png}" alt="">
                    <img src="/static/images/instaweb_search3.png" th:src="@{/images/instaweb_search3.png}" alt="">
                    <div class="divider">
                        <hr>
                    </div>

                    <h4>댓글</h4>
                    <img src="/static/images/instaweb_comment.png" th:src="@{/images/instaweb_comment.png}" alt="">
                    <p>댓글 입력, 삭제할때는 ajax 로 동적으로 처리.</p>
                    <p>변경 발생할때마다 클라이언트의 댓글 모두 지우고, 서버에서 통째로 가져와서 다시 디스플레이하는 방식.</p>
                    <p><a target="_blank"
                            href="https://github.com/LSH3333/Instaweb/blob/main/src/main/resources/templates/pages/pageView.html#L73-L206">클라이언트에서
                            서버로 댓글 데이터 보내고 받기</a></p>
                    <div class="divider">
                        <hr>
                    </div>

                    <h4>모바일 ui 지원</h4>
                    <img style="max-width: 40%;" src="/static/images/instaweb_mob1.png"
                        th:src="@{/images/instaweb_mob1.png}" alt="">
                    <img style="max-width: 40%;" src="/static/images/instaweb_mob2.jpg"
                        th:src="@{/images/instaweb_mob2.jpg}" alt="">
                    <p>좌: 데스크톱 웹</p>
                    <p>우: 모바일</p>
                    <p>css @media 로 화면 크기 감지해서 html element 변경으로 처리.</p>
                    <div class="divider">
                        <hr>
                    </div>

                    <h4>게임</h4>
                    <img src="/static/images/instaweb_game1.png" th:src="@{/images/instaweb_game1.png}" alt="">
                    <img src="/static/images/instaweb_game2.png" th:src="@{/images/instaweb_game2.png}" alt="">
                    <p>Unity 로 만든 게임들을 itch.io 라는 인디게임들을 올릴수 있는 사이트에 올려 놓았는데 링크를 타고 가서 게임을 플레이해볼수 있다.</p>
                    <p><a target="_blank" href="https://github.com/LSH3333/Galaga">Galaga git</a></p>
                    <p><a target="_blank" href="https://github.com/LSH3333/Unity_ManyGames">ManyGames git</a></p>

                </div>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>