<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mavi-karga</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/readmoreBtn.css" th:href="@{/css/readmoreBtn.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/RESTServer.css" th:href="@{/css/RESTServer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/instawebv2.css" th:href="@{/css/instawebv2.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>

        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>링크</h2>
                    <hr>
                    <a style="text-decoration: none;" class="readmoreBtn" target="_blank"
                        href="https://mavi-karga.com/">
                        <div>mavi-karga</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>mavi-karga</h2>
                    <hr>
                    <p>지인의 패션 브랜드 쇼핑몰</p>
                </div>
            </div>
        </div>

        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>ERD</h2>
                    <hr>
                    <!-- erd 이미지 -->
                    <img src="/static/images/mavikarga/mavi-karga-erd.png" alt="">
                </div>
            </div>
        </div>

        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>상세</h2>
                    <hr>
                    <ul class="instaweb_exp_ul">
                        <li><b>관리자가 관리자 페이지에서 상품 추가,수정,제거 가능</b></li>
                    </ul>
                    <img style="width: 30%;" src="/static/images/mavikarga/admin_1.png" alt="">
                    <img style="width: 30%;" src="/static/images/mavikarga/admin_2.png" alt="">
                    <img style="width: 30%;" src="/static/images/mavikarga/admin_3.png" alt="">

                    <ul class="instaweb_exp_ul">
                        <li><b>관리자 페이지에서 등록된 상품 수정</b></li>
                    </ul>
                    <img style="" src="/static/images/mavikarga/admin_product_view1.png" alt="">

                    <ul class="instaweb_exp_ul">
                        <li><b>사용자 목록, 사용자가 주문한 상품 조회</b></li>
                    </ul>
                    <img src="/static/images/mavikarga/admin_user1.png" alt="">

                    <ul class="instaweb_exp_ul">
                        <li><b>주문 목록 조회</b></li>
                    </ul>
                    <img src="/static/images/mavikarga/admin_order1.png" alt="">
                    <p>배송해야하는 주문 상품 목록들을 배송 미완료, 완료로 필터링해서 볼수 있도록 하고, 배송 완료된 주문은 완료처리 할 수 있게 했습니다.</p>

                    <ul class="instaweb_exp_ul">
                        <li><b>웹훅으로 결제 검증</b></li>
                    </ul>
                    <p>클라이언트에서 보낸 결제 금액 정보가 정확한지 서버에서 검증해야합니다.</p>
                    <p>클라이언트는 변조가 가능하기 때문에 서버에서 결제금액을 사후검증 하는 것입니다.</p>
                    <p>Wi-Fi 연결 끊김, 혹은 브라우저 자동 리로드 등의 이유로 클라이언트에서 결제 완료에 대한 응답을 받지 못하는 경우가 가끔 발생하기 때문에, 포트원에서는 서버의 등록한
                        경로로 웹훅 이벤트를 발송해줍니다.</p>
                    <img src="/static/images/mavikarga/webhook1.png" alt="">
                </div>
            </div>
        </div>

        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>문제점</h2>
                    <hr>

                    <ul class="instaweb_exp_ul">
                        <li><b>포트원 결제 시스템, 결제금액 사후검증 웹훅</b></li>
                    </ul>
                    <p><a target="_blank"
                            href="https://portone.io/korea/ko?utm_source=google&utm_medium=google_sa&utm_campaign=pf_conversion_2302_kr&utm_content=homepage&gad_source=1&gclid=CjwKCAiArfauBhApEiwAeoB7qPb95JydpTOZQhimkno1TqFDrusEF16Id9-mHzzXLg4wWKt695jKphoCdtAQAvD_BwE">포트원</a>을
                        이용해 결제 시스템을 구축했습니다.
                    </p>
                    <p>웹훅으로 결제 검증하기 이전에 구현해놓은 시스템은 클라이언트에서 사용자가 입력한 정보(이메일,배송지 등)와 결제관련 정보를 한번에 서버로 보내도록 구현되어 있었습니다.</p>
                    <p>그런데 <u>웹훅으로 결제 검증을 하려면, 사용자가 입력한 정보를 내 서버로 보내는 요청과, 웹훅의 결제 검증 로직을 분리해야 했고</u> HTTP는 상태를 저장하지 않기
                        때문에 어려움이
                        있었습니다.</p>

                    <p>웹훅은 포트원 서버에서 보내고, 사용자의 정보는 사용자의 클라이언트에서 보내기 때문에 세션을 사용하기도 어려웠습니다.</p>
                    <p><u>해결한 방법</u>은 사실 간단했는데 포트원 웹훅에서 보내주는 merchant_uid 라는 고유값을 식별자로 사용했습니다.</p>
                    <p>먼저 클라이언트에서 사용자 정보를 받아서 데이터를 DB에 저장하고 이때 merchant_uid 도 같이 저장합니다.</p>
                    <p>이후 포트원에서 보내는 웹훅을 받아 merchant_uid 값으로 DB에서 데이터를 가져와서 결제 검증 후 결제정보를 완성해 DB에 저장합니다.</p>
                    <p><a target="_blank" href="https://tose33.tistory.com/1364">블로그 정리글</a></p>
                    <br>

                    <ul class="instaweb_exp_ul">
                        <li><b>도메인 설계</b></li>
                    </ul>
                    <p>쇼핑몰을 구축하면서 처음으로 도메인 갯수가 많은 DB 를 설계하면서 어려움이 있었습니다.</p>
                    <p>한 가지는 <u>상품이 여러개의 옵션을 가질수 있다는 것</u>입니다.</p>
                    <p>처음에는 고객이 선택할수 있는 옵션이 상품의 사이즈 밖에 없었지만, 프로젝트 진행 중 일부 상품은 색상을 갖게 됐습니다.</p>
                    <p>상품에 고객이 선택할수 있는 옵션이 여러가지가 있을 경우 생각해봐야하는 문제가 있었습니다.</p>
                    <p>예를들어 선택하는 옵션이 사이즈 하나라면 상품 테이블과 상품사이즈 테이블을 1대다 관계로 만들기만하면 됐습니다.
                    </p>
                    <p>하지만 고객이 선택할수 있는 옵션이 여러개가 되면 이것이 불가능하게 됩니다.</p>
                    <p>찾아본 결과 해결방법 중 하나는 key-value 를 갖는 테이블을 만들어 저장하는 방법이 있었는데 이번 프로젝트에서 저는 다른 방법을 사용했습니다.</p>
                    <p>상품 테이블과 일대다의 관계를 갖는 <u>상품옵션 테이블을 만들고, 상품 옵션 테이블에 사이즈,색상의 어트리뷰트를 줬습니다.</u></p>
                    <p>이 경우 문제가 있긴 했는데 (사이즈 옵션 갯수 x 색상 옵션 갯수) 만큼의 실제 데이터가 생성되게 됩니다.</p>
                    <p>하지만 <u>선택하는 옵션이 사이즈와 색상 단 두개고, 대부분의 상품은 사이즈 옵션만 존재하고 색상은 극히 일부의 상품에서만 갖기 때문에</u> 이 방법을 적용했습니다.</p>
                    <br>

                    <ul class="instaweb_exp_ul">
                        <li><b>사용자 개인정보 파기</b></li>
                    </ul>
                    <p>OAuth2 를 이용한 구글,네이버,카카오 로그인을 만들었었고 이때 각 플랫폼들에게서 사용자의 이메일,성별,나이,이름 등 개인정보를 받아서 DB에 저장했었습니다.</p>
                    <p>그런데 결제 시스템을 포함한 실제 서비스되는 웹서비스를 만들다보니 수집하는 개인정보에 대해서도 지켜야할 규약들이 있었습니다. (수집한 개인정보의 파기)</p>
                    <p>스프링이 제공하는 <u>@Scheduled 어노테이션을 이용해 매일 자정에 마지막으로 로그인한지 6개월 지난 유저 데이터를 삭제하도록</u> 스케줄링했습니다.</p>
                    <p>유저 삭제는 실제 테이블을 지우지는 않고 값만 지우는 <u>Soft Deletion 으로 안전하게 삭제</u>했습니다.</p>
                </div>
            </div>
        </div>


    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>