<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paper</title>
    <!-- css style -->
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/paper.css" th:href="@{/css/paper.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/readmoreBtn.css" th:href="@{/css/readmoreBtn.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header">
    </header>

    <!-- MAIN -->
    <main>

        <div class="paperArea">
            <h4>Web</h4>
            <hr>
            <div class="paperRow">
                <a href="#" class="paperBlock">
                    <div class="imgArea"><img src="/static/images/papers/mvc.png" alt=""></div>
                    <div class="textArea">
                        <p class="paperBlock_title">Spring MVC 구조</p>
                        <p class="paperBlock_content">
                            DispatcherServlet (Front Controller)
                            이름에 Servlet이 있다시피 DispatcherServlet은 Servlet이고, HttpServlet을 상속 받는다.
                            DispatcherServlet -> FrameworkServlet -> HttpServletBean -> HttpServlet
                        </p>
                    </div>
                </a>
                <a href="#" class="paperBlock">
                    <div class="imgArea"><img src="/static/images/papers/mvc.png" alt=""></div>
                    <div class="textArea">
                        <p class="paperBlock_title">Spring MVC 구조</p>
                        <p class="paperBlock_content">
                            DispatcherServlet (Front Controller)
                            이름에 Servlet이 있다시피 DispatcherServlet은 Servlet이고, HttpServlet을 상속 받는다.
                            DispatcherServlet -> FrameworkServlet -> HttpServletBean -> HttpServlet
                        </p>
                    </div>
                </a>
                <a href="#" class="paperBlock">
                    <div class="imgArea"><img src="/static/images/papers/mvc.png" alt=""></div>
                    <div class="textArea">
                        <p class="paperBlock_title">Spring MVC 구조</p>
                        <p class="paperBlock_content">
                            DispatcherServlet (Front Controller)
                            이름에 Servlet이 있다시피 DispatcherServlet은 Servlet이고, HttpServlet을 상속 받는다.
                            DispatcherServlet -> FrameworkServlet -> HttpServletBean -> HttpServlet
                        </p>
                    </div>
                </a>
                <a href="#" class="paperBlock">
                    <div class="imgArea"><img src="/static/images/papers/mvc.png" alt=""></div>
                    <div class="textArea">
                        <p class="paperBlock_title">Spring MVC 구조</p>
                        <p class="paperBlock_content">
                            DispatcherServlet (Front Controller)
                            이름에 Servlet이 있다시피 DispatcherServlet은 Servlet이고, HttpServlet을 상속 받는다.
                            DispatcherServlet -> FrameworkServlet -> HttpServletBean -> HttpServlet
                        </p>
                    </div>
                </a>
            </div>
            <div class="paperRow">
                <a href="#" class="paperBlock">
                    <div class="imgArea"><img src="/static/images/papers/mvc.png" alt=""></div>
                    <div class="textArea">
                        <p class="paperBlock_title">Spring MVC 구조</p>
                        <p class="paperBlock_content">
                            DispatcherServlet (Front Controller)
                            이름에 Servlet이 있다시피 DispatcherServlet은 Servlet이고, HttpServlet을 상속 받는다.
                            DispatcherServlet -> FrameworkServlet -> HttpServletBean -> HttpServlet
                        </p>
                    </div>
                </a>
                <a href="#" class="paperBlock">
                    <div class="imgArea"><img src="/static/images/papers/mvc.png" alt=""></div>
                    <div class="textArea">
                        <p class="paperBlock_title">Spring MVC 구조</p>
                        <p class="paperBlock_content">
                            DispatcherServlet (Front Controller)
                            이름에 Servlet이 있다시피 DispatcherServlet은 Servlet이고, HttpServlet을 상속 받는다.
                            DispatcherServlet -> FrameworkServlet -> HttpServletBean -> HttpServlet
                        </p>
                    </div>
                </a>
                <a href="#" class="paperBlock">
                    <div class="imgArea"><img src="/static/images/papers/mvc.png" alt=""></div>
                    <div class="textArea">
                        <p class="paperBlock_title">Spring MVC 구조</p>
                        <p class="paperBlock_content">
                            DispatcherServlet (Front Controller)
                            이름에 Servlet이 있다시피 DispatcherServlet은 Servlet이고, HttpServlet을 상속 받는다.
                            DispatcherServlet -> FrameworkServlet -> HttpServletBean -> HttpServlet
                        </p>
                    </div>
                </a>
            </div>
        </div>

        <div class="paperArea">
            <h4>Web</h4>
            <hr>
            <div class="paperRow">
                <a href="#" class="paperBlock">
                    <div class="imgArea"><img src="/static/images/papers/mvc.png" alt=""></div>
                    <div class="textArea">
                        <p class="paperBlock_title">Spring MVC 구조</p>
                        <p class="paperBlock_content">
                            DispatcherServlet (Front Controller)
                            이름에 Servlet이 있다시피 DispatcherServlet은 Servlet이고, HttpServlet을 상속 받는다.
                            DispatcherServlet -> FrameworkServlet -> HttpServletBean -> HttpServlet
                        </p>
                    </div>
                </a>
                <a href="#" class="paperBlock">
                    <div class="imgArea"><img src="/static/images/papers/mvc.png" alt=""></div>
                    <div class="textArea">
                        <p class="paperBlock_title">Spring MVC 구조</p>
                        <p class="paperBlock_content">
                            DispatcherServlet (Front Controller)
                            이름에 Servlet이 있다시피 DispatcherServlet은 Servlet이고, HttpServlet을 상속 받는다.
                            DispatcherServlet -> FrameworkServlet -> HttpServletBean -> HttpServlet
                        </p>
                    </div>
                </a>
                <a href="#" class="paperBlock">
                    <div class="imgArea"><img src="/static/images/papers/mvc.png" alt=""></div>
                    <div class="textArea">
                        <p class="paperBlock_title">Spring MVC 구조</p>
                        <p class="paperBlock_content">
                            DispatcherServlet (Front Controller)
                            이름에 Servlet이 있다시피 DispatcherServlet은 Servlet이고, HttpServlet을 상속 받는다.
                            DispatcherServlet -> FrameworkServlet -> HttpServletBean -> HttpServlet
                        </p>
                    </div>
                </a>
                <a href="#" class="paperBlock">
                    <div class="imgArea"><img src="/static/images/papers/mvc.png" alt=""></div>
                    <div class="textArea">
                        <p class="paperBlock_title">Spring MVC 구조</p>
                        <p class="paperBlock_content">
                            DispatcherServlet (Front Controller)
                            이름에 Servlet이 있다시피 DispatcherServlet은 Servlet이고, HttpServlet을 상속 받는다.
                            DispatcherServlet -> FrameworkServlet -> HttpServletBean -> HttpServlet
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>