<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paper</title>
    <!-- css style -->
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/paper.css" th:href="@{/css/paper.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/readmoreBtn.css" th:href="@{/css/readmoreBtn.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header">
    </header>

    <!-- MAIN -->
    <main>
        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>Papers</h2>
                    <hr>
                    <ul>
                        <li><a href="#" th:href="@{/blog/941-Spring-MVC-구조.html}">Spring-MVC-구조</a></li>
                        <li><a href="#"
                                th:href="@{/blog/1120-Service-계층과-Repository-계층-나누는-이유.html}">Service-계층과-Repository-계층-나누는-이유</a>
                        </li>
                        <li><a href="#" th:href="@{/blog/848-베지어-곡선.html}">베지어-곡선</a></li>
                        <li><a href="#" th:href="@{/blog/1192-javascript로-구현한-베지어-곡선.html}">javascript로-구현한-베지어-곡선</a>
                        </li>
                        <li><a href="#"
                                th:href="@{/blog/663-Amortized-time-complexity.html}">Amortized-time-complexity</a></li>
                        <li><a href="#" th:href="@{/blog/996-JPA-정리.html}">JPA-정리</a></li>
                        <li><a href="#"
                                th:href="@{/blog/937-Java)-함수의-파라미터에는-복사된-주소값이-전달된다.html}">Java)-함수의-파라미터에는-복사된-주소값이-전달된다</a>
                        </li>
                        <li><a href="#" th:href="@{/blog/193-리모트-트래킹-브랜치.html}">리모트-트래킹-브랜치</a></li>

                        <li><a href="#" th:href="@{/blog/988-c++)-객체의-==-비교.html}">c++)-객체의-==-비교</a></li>

                        <li><a href="#"
                                th:href="@{/blog/922-dart)-List.filled,-List.generate-차이점.html}">dart)-List.filled,-List.generate-차이점</a>
                        </li>
                        <li><a href="#" th:href="@{/blog/743-JDBC.html}">JDBC</a></li>
                        <li><a href="#" th:href="@{/blog/706-Java의-인터페이스.html}">Java의-인터페이스</a></li>

                        <li><a href="#" th:href="@{/blog/632-꼬리-재귀-(Tail-Recursion).html}">꼬리-재귀-(Tail-Recursion)</a>
                        </li>
                        <li><a href="#" th:href="@{/blog/715-Coroutine.html}">Coroutine</a></li>
                        <li><a href="#" th:href="@{/blog/162-Lerp와-Time.deltaTime.html}">Lerp와-Time.deltaTime</a></li>
                        <li><a href="#" th:href="@{/blog/562-c++)-Priority-Queue-구현.html}">c++)-Priority-Queue-구현</a>
                        </li>

                        <!-- 예약어 '#' 존재, thymeleaf url syntax 사용  -->
                        <li><a href="#" th:href="@{/blog/{pageName}(pageName='474-c#)-가변배열.html')}">c#)-가변배열</a></li>
                        
                        <li><a href="#" th:href="@{/blog/470-c++)-컨테이너-종류.html}">c++)-컨테이너-종류</a></li>
                        <li><a href="#" th:href="@{/blog/469-c++)-iterator-종류.html}">c++)-iterator-종류</a></li>
                        <li><a href="#"
                                th:href="@{/blog/456-c++)-priority_queue-cmp-구조체-정의.html}">c++)-priority_queue-cmp-구조체-정의</a>
                        </li>
                        <li><a href="#" th:href="@{/blog/432-언어별-2차원-배열-입력.html}">언어별-2차원-배열-입력</a></li>
                        <li><a href="#" th:href="@{/blog/140-c++)-입출력-관련-속도.html}">c++)-입출력-관련-속도</a></li>



                    </ul>
                </div>
            </div>
        </div>

    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>