<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REST 서버</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mainContentBlock.css"
        th:href="@{/css/mainContentBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/readmoreBtn.css" th:href="@{/css/readmoreBtn.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/RESTServer.css" th:href="@{/css/RESTServer.css}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+KR&family=Skranji&display=swap"
        rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HEADER -->
    <header th:replace="fragment/header :: header"></header>

    <!-- MAIN -->
    <main>
        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <img src="/static/images/manygames_rest.png" th:src="@{/images/manygames_rest.png}" alt="">
                </div>
            </div>
        </div>

        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h2>ManyGames REST 서버</h2>
                    <hr>
                    <ul class="instaweb_exp_ul">
                        <li><a href="/templates/manygames.html" th:href="@{/manygames}">ManyGames</a>의 데이터 저장을 위한 <b>DB
                                와
                                유니티 클라이언트 사이의 서버</b>입니다.</li>
                        <li>원래 NCMB 라는 back end as service 로 데이터를 저장하고 있었는데 <b>서비스가 종료</b> 예정이라는 통보를 받고 <b>새로운 DB 가
                                필요</b>했습니다.</li>
                        <li>서버는 <b>REST api</b> 를 구현해 유니티 클라이언트에서 HTTP 요청을 보내면 경로에 따라 데이터를 처리하고 DB 와 소통합니다</li>
                        <li><b>JPA</b>로 객체와 테이블을 매핑해서 소통했습니다. </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h4>유니티 클라이언트</h4>
                    <hr>
                    <ul class="instaweb_exp_ul">
                        <li>유니티 클라이언트에서는 로그인 요청, 데이터 요청 등 <b>REST 서버에 맞는 경로에 요청</b>을 보냅니다.</li>
                        <li>아래는 이름,점수,게임종류 의 폼데이터를 만들어 REST 서버에 보내는 부분입니다.</li>
                    </ul>
                    <div class="img-block">
                        <img src="/static/images/unity_client_send_data.png"
                            th:src="@{/images/unity_client_send_data.png}" alt="">
                        <div class="img-comment">REST 서버의 "/rank/uploadRank" 경로에 POST 요청 보냄</div>
                    </div>


                </div>
            </div>
        </div>

        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h4>REST 서버</h4>
                    <hr>
                    <ul class="instaweb_exp_ul">
                        <li>REST 서버에서는 받은 요청에 따라 데이터를 처리하거나 유니티 클라이언트에 응답해줍니다.</li>
                    </ul>
                    <div class="img-block">
                        <img src="/static/images/uploadRank.png" th:src="@{/images/uploadRank.png}" alt="">
                        <div class="img-comment">"/rank/uploadRank" 경로에 POST 요청 받음</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mainContentBlock">
            <div class="mainContentBlockWrap">
                <div class="ContentBlock">
                    <h4>DB (PostrgreSQL)</h4>
                    <hr>
                    <ul class="instaweb_exp_ul">
                        <li>REST 서버와 DB 는 JPA 를 이용해 소통합니다.</li>
                    </ul>
                    <div class="img-block">
                        <img src="/static/images/getRank.png" th:src="@{/images/getRank.png}" alt="">
                        <div class="img-comment">테이블에서 점수 기준 게임 랭킹 1~10위를 반환</div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- FOOTER -->
    <footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>